<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.DoctorPhotoMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.DoctorPhoto" >
        <result column="id" property="id" />
        <result column="doctor_name" property="doctorName" />
        <result column="doctor_img" property="doctorImg" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              id,
              doctor_name,
              doctor_img
        FROM
            doctor_photo
    </select>

    <select id="selectByDoctorName" resultMap="BaseResultMap">
      SELECT
            id,
            doctor_name,
            doctor_img
      FROM
            doctor_photo
        WHERE
            doctor_name=#{doctorName}
    </select>


</mapper>