<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.EntityHealthyAppointmentMapper">

    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.EntityHealthyAppointmentVo" >
        <id column="sys_id" property="sysId"/>
        <result column="order_no" property="orderNo"/>
        <result column="entity_name" property="entityName"/>
        <result column="user_cate" property="userCate"/>
        <result column="address" property="address" />
        <result column="time_from" property="timeFrom" />
        <result column="service_option" property="serviceOption" />
        <result column="descr" property="descr" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="user_gender" property="userGender"/>
        <result column="user_age" property="userAge"/>
        <result column="user_id_card_no" property="userIdCardNo"/>
        <result column="user_cellphone_no" property="userCellphoneNo"/>
        <result column="relative_id" property="relativeId" />
        <result column="relative_name" property="relativeName"/>
        <result column="relative_gender" property="relativeGender"/>
        <result column="relative_age" property="relativeAge"/>
        <result column="relative_id_card_no" property="relativeIdCardNo"/>
        <result column="relative_cellphone_no" property="relativeCellphoneNo"/>
        <result column="card_cates" property="cardCates"/>
        <result column="card_no" property="cardNo"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.annaru.upms.entity.vo.OrderAppointmentDoctorVo">
        <result column="order_no" property="orderNo"/>
        <result column="full_name" property="fullName"/>
        <result column="gender" property="gender"/>
        <result column="status" property="status"/>
        <result column="user_age" property="userAge"/>
        <result column="user_id" property="userId"/>
        <result column="entity_no" property="entityNo"/>
        <result column="time_to" property="timeTo"/>
        <result column="total_qty" property="totalQty"/>
        <result column="address" property="address"/>
        <result column="appoint_date" property="appointDate"/>

    </resultMap>


	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.EntityHealthyAppointment" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="entity_no" property="entityNo" />
        <result column="user_cate" property="userCate" />
        <result column="user_id" property="userId" />
        <result column="related_no" property="relatedNo" />
        <result column="appoint_date" property="appointDate" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="institution_id" property="institutionId" />
        <result column="department_id" property="departmentId" />
        <result column="service_option" property="serviceOption" />
        <result column="appraisal" property="appraisal" />
        <result column="is_cancelled" property="isCancelled" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_time" property="editTime" />
        <result column="edit_by" property="editBy" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="getTimeByUserIdZ" parameterType="map" resultMap="BaseResultMap">
        SELECT
        eha.creation_time -- 企业服务预约记录
        FROM entity_purchse_main epm
        LEFT JOIN user_entity_mapping uem ON uem.entity_id = epm.entity_no
        LEFT JOIN entity_healthy_appointment eha ON eha.user_id = uem.user_id AND eha.entity_no = uem.entity_id
        WHERE 1 = 1
        AND epm.cates = 2 AND epm.is_active = 1 AND epm.is_terminated = 0
        AND eha.`status` = 3 AND eha.service_option = 1 AND eha.is_cancelled = 0 AND eha.user_confirm = 1 AND eha.is_deleted = 0

        <if test="userId != null and userId != ''">
            AND uem.user_id = #{userId}
        </if>
        <if test="startDate != null and startDate != ''">
            AND DATE_FORMAT(eha.creation_time , '%Y-%m') = DATE_FORMAT(startDate , '%Y-%m')
        </if>

        ORDER BY eha.creation_time DESC LIMIT 0,1
    </select>

    <!-- 企业用户患者信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap2">
        select
        eha.user_id,-- id
        ub.full_name,-- 姓名
        ub.gender,-- 性别
        TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
        eha.entity_no,-- 公司名称
        eha.time_to,-- 截至时间
        eha.status -- 状态
        from
        entity_healthy_appointment as eha
        LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
            <if test="params.relatedNo != null and params.relatedNo != ''">
                where eha.related_no=#{params.relatedNo} and eha.status=1
            </if>

    </select>

    <!-- 查询企业用户及亲属列表-->
    <select id="selectUserAndRelative" parameterType="map" resultMap="BaseResultMap1">
        SELECT
        eha.sys_id,
        eha.order_no,
        se.entity_name,
        eha.user_cate,
        eha.user_id,
        ub_ur.full_name,
        ub_ur.user_gender,
        ub_ur.user_age,
        ub_ur.relative_id,
        ub_ur.relative_name,
        ub_ur.relative_gender,
        ub_ur.relative_age,
        ub_ur.remark
        FROM entity_healthy_appointment eha
        LEFT JOIN sys_entity se ON se.entity_id = eha.entity_no
        LEFT JOIN
        (SELECT
        ub.user_id,
        ub.full_name,
        TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
        ub.gender AS user_gender,
        ur.relative_id,
        ur.relative_name,
        TIMESTAMPDIFF(YEAR, ur.date_of_birth, CURDATE()) AS relative_age,
        ur.gender AS relative_gender,
        ur.remark FROM user_basic ub
        LEFT JOIN user_relatives ur ON ur.user_id = ub.user_id
        )ub_ur ON ub_ur.user_id = eha.user_id
        where
        <if test="userId != null and userId != ''">
            eha.user_id=#{userId}
        </if>
    </select>



    <!-- 企业查询服务预约 -->
    <select id="selectServiceAppointment" parameterType="map" resultMap="BaseResultMap1">
        SELECT
        eha.sys_id,
        eha.order_no,
        eha.user_cate,
        eha.address,
        eha.time_from,
        eha.user_id,
        eha.service_option,
        ehpm.descr,
        ub.full_name,
        ub.gender AS user_gender,
        ub.id_card_no AS user_id_card_no,
        ub.cellphone_no AS user_cellphone_no,
        ur.relative_id,
        ur.relative_name,
        ur.gender AS relative_gender,
        ur.id_card_no AS relative_id_card_no,
        ur.cellphone_no AS relative_cellphone_no,
        uc.card_cates,
        uc.card_no
        FROM entity_healthy_appointment eha
        LEFT JOIN order_main om ON om.order_no = eha.order_no
        LEFT JOIN entity_purchse_main epm ON epm.order_no = eha.order_no
        LEFT JOIN entity_healthy_package_main ehpm ON ehpm.sys_id = eha.pkg_main_id
        LEFT JOIN user_cards uc ON uc.user_id = eha.user_id
	LEFT JOIN user_basic ub ON ub.user_id = eha.user_id
	LEFT JOIN user_relatives ur ON ur.relative_id = eha.user_id
	WHERE
        <if test="orderNo != null and orderNo != ''">
            eha.order_no=#{orderNo}
        </if>
    </select>

    <!--医生接收患者-->
    <update id="updateStatusByOrderNo">
        update entity_healthy_appointment SET status=#{status} WHERE order_no=#{orderNo}
    </update>


    <!--待上门服务列表-->
    <select id="selectUpDoorServer" parameterType="map" resultMap="BaseResultMap2">
         select
                eha.order_no,
		        ub.full_name,-- 姓名
			    ub.gender,-- 性别
			    TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
			    eha.address,-- 预约地址
			    eha.appoint_date,-- 预约时间
			    eha.status,
			    om.total_qty-- 人数
        from
                entity_healthy_appointment as eha
        LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
		LEFT JOIN order_main as om ON eha.order_no=om.order_no
		LEFT JOIN exam_user_healthy_appraisal as euha ON euha.order_no=eha.order_no
        WHERE eha.related_no=#{relatedNo} and eha.pkg_main_id=8 and eha.pkg_detail_id=801 and eha.is_deleted = 0
        <if test="status==0 or status==1">
            and eha.status=#{status}
        </if>
        <if test="isSubmitted==0">
            and euha.is_submitted=#{isSubmitted}
        </if>

    </select>
    <update id="updateByOderNo">
        UPDATE entity_healthy_appointment
        SET is_deleted = 1
        where order_no = #{orderNo}
    </update>

</mapper>
