<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.EntityPurchseDetailMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.EntityPurchseDetail" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="user_cate" property="userCate" />
        <result column="user_id" property="userId" />
        <result column="is_active" property="isActive" />
        <result column="is_deleted" property="isDeleted" />
        <result column="delete_by" property="deleteBy" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_time" property="editTime" />
        <result column="edit_by" property="editBy" />
    </resultMap>
    
    <sql id="BaseClounmSql">
          sys_id,
          order_no,
          user_cate,
          user_id,
          is_active,
          is_deleted,
          delete_by,
          creation_time,
          create_by,
          edit_time,
          edit_by,
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            entity_purchse_detail

    </select>

</mapper>