<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.EntityHealthyAppointmentMapper">

    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.EntityHealthyAppointmentVo" >
        <id column="sys_id" property="sysId"/>
        <result column="order_no" property="orderNo"/>
        <result column="entity_name" property="entityName"/>
        <result column="user_cate" property="userCate"/>
        <result column="address" property="address" />
        <result column="time_from" property="timeFrom" />
        <result column="service_option" property="serviceOption" />
        <result column="descr" property="descr" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="user_gender" property="userGender"/>
        <result column="user_age" property="userAge"/>
        <result column="user_id_card_no" property="userIdCardNo"/>
        <result column="user_cellphone_no" property="userCellphoneNo"/>
        <result column="relative_id" property="relativeId" />
        <result column="relative_name" property="relativeName"/>
        <result column="relative_gender" property="relativeGender"/>
        <result column="relative_age" property="relativeAge"/>
        <result column="relative_id_card_no" property="relativeIdCardNo"/>
        <result column="relative_cellphone_no" property="relativeCellphoneNo"/>
        <result column="card_cates" property="cardCates"/>
        <result column="card_no" property="cardNo"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.annaru.upms.entity.vo.OrderAppointmentDoctorVo">
        <result column="order_no" property="orderNo"/>
        <result column="full_name" property="fullName"/>
        <result column="head_image" property="headImage"/>
        <result column="gender" property="gender"/>
        <result column="status" property="status"/>
        <result column="is_submitted" property="isSubmitted"/>
        <result column="user_age" property="userAge"/>
        <result column="user_id" property="userId"/>
        <result column="entity_no" property="entityNo"/>
        <result column="entity_name" property="entityName"/>
        <result column="effect_to" property="effectTo"/>
        <result column="total_qty" property="totalQty"/>
        <result column="address" property="address"/>
        <result column="appoint_date" property="appointDate"/>
        <result column="isHr" property="isHr"/>
    </resultMap>


	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.EntityHealthyAppointment" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="entity_no" property="entityNo" />
        <result column="user_cate" property="userCate" />
        <result column="user_id" property="userId" />
        <result column="related_no" property="relatedNo" />
        <result column="appoint_date" property="appointDate" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="institution_id" property="institutionId" />
        <result column="department_id" property="departmentId" />
        <result column="sub_department_id" property="subDepartmentId" />
        <result column="service_option" property="serviceOption" />
        <result column="appraisal" property="appraisal" />
        <result column="is_cancelled" property="isCancelled" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_time" property="editTime" />
        <result column="edit_by" property="editBy" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="getTimeByUserIdZ" parameterType="map" resultMap="BaseResultMap">
        SELECT
        eha.sys_id,
        eha.creation_time -- 企业服务预约记录
        FROM  entity_healthy_appointment eha
        WHERE 1 = 1
        AND eha.status = 3 AND eha.service_option = 1 AND eha.is_cancelled = 0 AND eha.is_deleted = 0
        AND eha.pkg_main_id = 8 AND eha.pkg_detail_id = 801

        <if test="params.userId != null and params.userId != ''">
            AND eha.user_id = #{params.userId}
        </if>
        <if test="params.bs == 1">
            AND DATE_FORMAT(eha.creation_time , '%Y') = DATE_FORMAT(#{params.startDate} , '%Y')
        </if>
        <if test="params.bs == 2">
            AND DATE_FORMAT(eha.creation_time , '%Y-%m') = DATE_FORMAT(#{params.startDate} , '%Y-%m')
        </if>
        ORDER BY eha.creation_time ASC
    </select>

    <!-- 企业用户患者信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap2">
        select
          eha.user_id,
          ub.head_image,
          ub.full_name,-- 姓名
          ub.gender,-- 性别
          TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
          se.entity_name,
          eed.effect_to,
          ub.is_hr,
          eha.order_no,
          se.entity_id
        from entity_healthy_appointment as eha
        LEFT JOIN user_basic as ub ON ub.user_id=eha.user_id
        LEFT JOIN sys_entity as se ON se.entity_id=eha.entity_no
        LEFT JOIN entity_exclusive_doctor as eed ON eed.doctor_no=eha.related_no
            <if test="params.relatedNo != null and params.relatedNo != ''">
                where eha.related_no=#{params.relatedNo} and eha.status=1
            </if>

    </select>

    <!-- 企业查询服务预约 -->
    <select id="selectServiceAppointment" parameterType="map" resultMap="BaseResultMap1">
        SELECT
        eha.sys_id,
        eha.order_no,
        eha.user_cate,
        eha.address,
        eha.time_from,
        eha.user_id,
        eha.service_option,
        ehpm.descr,
        ub.full_name,
        ub.gender AS user_gender,
        ub.id_card_no AS user_id_card_no,
        ub.cellphone_no AS user_cellphone_no,
        ur.relative_id,
        ur.relative_name,
        ur.gender AS relative_gender,
        ur.id_card_no AS relative_id_card_no,
        ur.cellphone_no AS relative_cellphone_no,
        uc.card_cates,
        uc.card_no
        FROM entity_healthy_appointment eha
        LEFT JOIN order_main om ON om.order_no = eha.order_no
        LEFT JOIN entity_purchse_main epm ON epm.order_no = eha.order_no
        LEFT JOIN entity_healthy_package_main ehpm ON ehpm.sys_id = eha.pkg_main_id
        LEFT JOIN user_cards uc ON uc.user_id = eha.user_id
	LEFT JOIN user_basic ub ON ub.user_id = eha.user_id
	LEFT JOIN user_relatives ur ON ur.relative_id = eha.user_id
	WHERE
        <if test="orderNo != null and orderNo != ''">
            eha.order_no=#{orderNo}
        </if>
    </select>

    <!--医生接收患者-->
    <update id="updateStatusByOrderNo">
        update entity_healthy_appointment SET status=1 WHERE order_no=#{orderNo}
    </update>

    <!-- 根据订单编号修改医生确认状态 -->
    <update id="updateStatus3ByOrderNo">
        update entity_healthy_appointment SET status=3 WHERE order_no=#{orderNo}
    </update>

    <!--待上门服务列表-->
    <select id="selectUpDoorServer" parameterType="map" resultMap="BaseResultMap2">
         select
                eha.order_no,-- 订单号
                ub.user_id,-- 用户编号
		        ub.full_name,-- 姓名
		        ub.head_image,-- 头像
			    ub.gender,-- 性别
			    TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
			    eha.address,-- 预约地址
			    eha.appoint_date,-- 预约时间
			    eha.status,-- 服务状态
                euha.is_submitted,-- 评估状态
			    om.total_qty-- 人数
        from
                entity_healthy_appointment as eha
        LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
		LEFT JOIN order_main as om ON eha.order_no=om.order_no
		LEFT JOIN exam_user_healthy_appraisal as euha ON euha.order_no=eha.order_no
        WHERE eha.related_no=#{params.relatedNo} and eha.pkg_main_id=8 and eha.pkg_detail_id=801 and eha.is_deleted = 0
        <if test="params.status==1 or params.status==3">
            and eha.status=#{params.status}
        </if>
        <if test="params.isSubmitted==0">
            and euha.is_submitted=#{params.isSubmitted}
        </if>
        <if test="params.when == 0 ">
            AND YEARWEEK(date_format(eha.creation_time,'%Y-%m-%d')) = YEARWEEK(now())
        </if>
        <if test="params.when == 1 ">
            AND DATE_FORMAT(eha.creation_time, '%Y%m' ) = DATE_FORMAT(CURDATE(),'%Y%m')
        </if>


    </select>
    <update id="updateByOderNo">
        UPDATE entity_healthy_appointment
        SET is_deleted = 1
        where order_no = #{orderNo} and status=1
    </update>


    <!--企业家庭医生预约-->
    <insert id="insertEntityDoctorAppointment">
        INSERT INTO entity_healthy_appointment (order_no,user_id,appoint_date,time_from,address,service_option,pkg_main_id,pkg_detail_id,creation_time)
         VALUES (#{orderNo},#{userId},#{appointDate},#{timeFrom},#{address},#{serviceOption},#{pkgMainId},#{pkgDetailId},#{creationTime})
    </insert>


    <select id="selectEntityServiceCount" parameterType="string" resultType="int">
        SELECT count(*) FROM entity_healthy_appointment
	    where user_id=#{userId} and pkg_detail_id=801
    </select>

    <select id="selectDoctorByUserId" parameterType="string" resultMap="BaseResultMap">
        SELECT * from entity_healthy_appointment
          where user_id=#{userId} and related_no!=''
            limit 0,1
    </select>

</mapper>
