<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.EntityPurchseMainMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.EntityPurchseMain" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="entity_no" property="entityNo" />
        <result column="pkg_main_id" property="pkgMainId" />
        <result column="cates" property="cates" />
        <result column="effect_from" property="effectFrom" />
        <result column="effect_to" property="effectTo" />
        <result column="is_active" property="isActive" />
        <result column="is_terminated" property="isTerminated" />
        <result column="terminated_date" property="terminatedDate" />
        <result column="total_amount" property="totalAmount" />
        <result column="remarks" property="remarks" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_time" property="editTime" />
        <result column="edit_by" property="editBy" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.EntityPurchseMainVo" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="entity_no" property="entityNo" />
        <result column="entity_name" property="entityName"/>
        <result column="user_cate" property="userCate"/>
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="user_gender" property="userGender"/>
        <result column="user_age" property="userAge"/>
        <result column="user_id_card_no" property="userIdCardNo"/>
        <result column="user_cellphone_no" property="userCellphoneNo"/>
        <result column="relative_id" property="relativeId" />
        <result column="relative_name" property="relativeName"/>
        <result column="relative_gender" property="relativeGender"/>
        <result column="relative_age" property="relativeAge"/>
        <result column="relative_id_card_no" property="relativeIdCardNo"/>
        <result column="relative_cellphone_no" property="relativeCellphoneNo"/>
        <result column="card_cates" property="cardCates"/>
        <result column="card_no" property="cardNo"/>
        <result column="remark" property="remark"/>
        <result column="pkg_main_id" property="pkgMainId" />
        <result column="pkg_detail_id" property="pkgDetailId" />
        <result column="cates" property="cates" />
        <result column="effect_from" property="effectFrom" />
        <result column="effect_to" property="effectTo" />
        <result column="is_active" property="isActive" />
        <result column="is_terminated" property="isTerminated" />
        <result column="terminated_date" property="terminatedDate" />
        <result column="total_amount" property="totalAmount" />
        <result column="remarks" property="remarks" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_time" property="editTime" />
        <result column="edit_by" property="editBy" />
    </resultMap>

    <sql id="BaseClounmSql">
          sys_id,
          order_no,
          entity_no,
          pkg_main_id,
          cates,
          effect_from,
          effect_to,
          is_active,
          is_terminated,
          terminated_date,
          total_amount,
          remarks,
          creation_time,
          create_by,
          edit_time,
          edit_by,
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            entity_purchse_main

    </select>

    <!-- 多表页面信息查询分页 -->
    <select id="getTimeByUserIdZ" parameterType="map" resultMap="BaseResultMap">
        SELECT
            epm.sys_id,
            effect_from,
            effect_to
        FROM entity_purchse_main epm
        LEFT JOIN user_entity_mapping uem ON uem.entity_id = epm.entity_no
        WHERE 1 = 1
        AND epm.cates = 2 AND epm.is_active = 1 AND epm.is_terminated = 0
        <if test="params.userId != null and params.userId != ''">
            AND uem.user_id = #{params.userId}
        </if>
        <if test="params.bs == 1">
            AND DATE_FORMAT(epm.effect_from , '%Y') = DATE_FORMAT(#{params.startDate} , '%Y')
        </if>
        <if test="params.bs == 2">
            AND DATE_FORMAT(epm.effect_from , '%Y-%m') = DATE_FORMAT(#{params.startDate} , '%Y-%m')
        </if>
    </select>


    <!-- 通过订单号查询企业健康服务客户购买记录信息 -->
    <select id="getEntityPurchseMainByOrderNo" parameterType="map" resultMap="BaseResultMap1">
    SELECT  epm.order_no,
    epd.user_cate,
    epm.entity_no,
    ehpd_ehpm.pkg_main_id,
    ehpd_ehpm.pkg_detail_id
    FROM entity_purchse_main epm
    LEFT JOIN
    (
    SELECT
    ehpm.sys_id AS pkg_main_id,
    ehpd.sys_id AS pkg_detail_id
    FROM entity_healthy_package_detail ehpd
    LEFT JOIN entity_healthy_package_main ehpm ON ehpm.sys_id = ehpd.sys_id
    ) ehpd_ehpm ON ehpd_ehpm.pkg_main_id = epm.pkg_main_id
    LEFT JOIN entity_purchse_detail epd ON epd.order_no = epm.order_no
    WHERE epd.is_active=1 AND epd.is_deleted=0
    <if test="orderNo != null and orderNo != ''">
        AND epm.order_no=#{orderNo}
    </if>
</select>

    <!-- 查询购买企业套餐的用户及其亲属列表 -->
    <select id="selectEntityPurchseMainListByUserId" parameterType="map" resultMap="BaseResultMap1">
        SELECT
        epm.sys_id,
        epm.order_no,
        epm.entity_no,
        se.entity_name,
        epd.user_cate,
        epd.user_cate,
        epd.user_id,
        ub.full_name,
        ub.gender AS user_gender,
        TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
        ur.relative_id,
        ur.relative_name,
        ur.gender AS relative_gender,
        TIMESTAMPDIFF(YEAR, ur.date_of_birth, CURDATE()) AS relative_age,
        ur.remark

        FROM entity_purchse_main epm
        LEFT JOIN entity_purchse_detail epd ON epd.order_no = epm.order_no
        LEFT JOIN sys_entity se ON se.entity_id = epm.entity_no
        LEFT JOIN user_basic ub ON ub.user_id = epd.user_id
        LEFT JOIN user_relatives ur ON ur.user_id = ub.user_id
        WHERE
        <if test="userId != null and userId != ''">
            epd.user_id=#{userId}
        </if>
        GROUP BY ur.relative_id
    </select>

    <!-- 查询企业门诊绿通预约人详情 -->
    <select id="getGreenPassInfo" parameterType="map" resultMap="BaseResultMap1">
        SELECT
        epm.sys_id,
        epm.order_no,
        epd.user_cate,
        epd.user_id,
        ub.full_name,
        ub.gender AS user_gender,
        ub.id_card_no AS user_id_card_no,
        ub.cellphone_no AS user_cellphone_no,
        ur.relative_id,
        ur.relative_name,
        ur.gender AS relative_gender,
        ur.id_card_no AS relative_id_card_no,
        ur.cellphone_no AS relative_cellphone_no,
        uc.card_cates,
        uc.card_no
        FROM entity_purchse_main epm
        LEFT JOIN entity_purchse_detail epd ON epd.order_no = epm.order_no
        LEFT JOIN user_cards uc ON uc.user_id = epd.user_id
        LEFT JOIN user_basic ub ON ub.user_id = epd.user_id
        LEFT JOIN user_relatives ur ON ur.relative_id = epd.user_id
        WHERE
        <if test="orderON != null and orderON != ''">
            epm.order_no=#{orderON}
        </if>
    </select>
</mapper>
