<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamPackageDetailMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamPackageDetail" >
        <result column="sys_id" property="sysId" />
        <result column="exam_main_id" property="examMainId" />
        <result column="exam_master_id" property="examMasterId" />
        <result column="exam_detail_id" property="examDetailId" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.ExamChooseVo">
        <result column="exam_master_id" property="examMasterId"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="BaseResultMapEEVo" type="com.annaru.upms.entity.vo.ExamExtensionVo">
        <result column="name" property="name"/>
        <result column="item_name" property="itemName"/>
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              sys_id,
              exam_main_id,
              exam_master_id,
              exam_detail_id
        FROM
            exam_package_detail
        WHERE
            status=0
            <if test="params.key != null and params.key != ''">
                AND key LIKE CONCAT('%', #{params.key}, '%')
            </if>
    </select>


    <select id="getChoosen" parameterType="map" resultMap="BaseResultMapVo">
                SELECT
                epd.exam_master_id,
                em.`name`
                from
                exam_package_detail epd
                LEFT JOIN exam_master em
                on epd.exam_master_id = em.sys_id
                WHERE epd.exam_main_id = #{params.examId}
                GROUP BY epd.exam_master_id
    </select>

    <select id="getEEChoosen" parameterType="map" resultMap="BaseResultMapEEVo">
        SELECT
        em.name,
        ed.item_name
        FROM
        exam_package_extension epe
        LEFT JOIN exam_master em
        on epe.exam_master_id = em.sys_id
        LEFT JOIN exam_detail ed
        on ed.sys_id = epe.exam_detail_id
        WHERE epe.pkg_main_id = #{params.examId}
    </select>

</mapper>