<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamReportReviewMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamReportReview" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="report_no" property="reportNo" />
        <result column="byh" property="byh" />
        <result column="suggestions" property="suggestions" />
        <result column="review_no" property="reviewNo" />
        <result column="review_time" property="reviewTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="status" property="status" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
    </resultMap>


    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.ExamReportReviewVo" >
        <result column="byh" property="byh" />
        <result column="report_no" property="reportNo" />
        <result column="user_id" property="userId" />
        <result column="head_image" property="headImage" />
        <result column="BRXM" property="BRXM" />
        <result column="BRXB" property="BRXB" />
        <result column="BGLX" property="BGLX" />
        <result column="BRNL" property="BRNL" />
        <result column="creation_time" property="creationTime" />
        <result column="status" property="status" />
        <result column="review_no" property="reviewNo" />
        <result column="order_no" property="orderNo" />
        <result column="entity_name" property="entityName" />
    </resultMap>


    <resultMap id="reportBase" type="com.annaru.upms.entity.vo.ReportInfoVo" >
        <result column="entity_id" property="entityId" />
        <result column="entity_name" property="entityName" />
        <result column="full_name" property="fullName" />
        <result column="gender" property="gender" />
        <result column="report_no" property="reportNo" />
        <result column="SHSJ" property="SHSJ" />
    </resultMap>

    <resultMap id="BaseResultInfoVoMap" type="com.annaru.upms.entity.vo.ExamReportReviewInfoVo" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="report_no" property="reportNo" />
        <result column="byh" property="byh" />
        <result column="suggestions" property="suggestions" />
        <result column="review_no" property="reviewNo" />
        <result column="review_time" property="reviewTime" />
        <result column="result" property="result" />
        <result column="status" property="status" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="is_deleted" property="isDeleted" />
        <result column="user_name" property="userName" />
        <result column="doctor_name" property="doctorName" />
        <result column="create_name" property="createName" />
    </resultMap>

    <sql id="BaseClounmSql">
          sys_id,
          user_id,
          report_no,
          byh,
          review_no,
          review_time,
          is_deleted,
          status,
          creation_time,
          create_by
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            exam_report_review

    </select>

        <!--解读报告详情-->
    <select id="selectReportInfo" parameterType="map" resultMap="reportBase">
      SELECT
			sent.entity_id,
			sent.entity_name,
			ub.full_name,
			ub.gender,
			err.report_no,
			eir.SHSJ
      from user_basic as ub
      LEFT JOIN exam_report_review as err ON err.user_id=ub.user_id
      LEFT JOIN user_entity_mapping as uem ON uem.user_id=ub.user_id
      LEFT JOIN sys_entity as sent ON sent.entity_id=uem.entity_id
      LEFT JOIN exam_inspect_report as eir ON eir.report_no=err.report_no
      where ub.user_id=#{params.userId} and err.report_no=#{params.reportNo}
    </select>



    <!-- 待解读报告-->
    <select id="selectReport" parameterType="map" resultMap="BaseResultMap1">
        select
            err.report_no,-- 报告编号
            err.review_no,-- 解读人
            err.user_id,-- 用户编号
            ub.head_image,-- 头像
            eir.BRXM,-- 报告人
            eir.BRXB,-- 性别
            eir.BRNL,-- 年龄
            eir.BGLX,-- 报告类型
            err.creation_time,-- 报告生成时间
            err.status,-- 报告状态
            erc.order_no,
            se.entity_name
        FROM exam_report_review as err
        LEFT JOIN exam_inspect_report as eir ON err.report_no=eir.report_no
        LEFT JOIN user_basic as ub ON ub.user_id=err.user_id
        LEFT JOIN exam_report_classify as erc ON erc.report_no=err.report_no
        LEFT JOIN user_entity_mapping as uem ON uem.user_id=ub.user_id
        LEFT JOIN sys_entity as se ON se.entity_id=uem.entity_id
        WHERE err.review_no=#{params.reviewNo}
        <if test="params.status==0 or params.status==1">
            and err.status=#{params.status}
        </if>

    </select>

    <select id="selectByReportNo" resultMap="BaseResultInfoVoMap">
        SELECT
            err.*, ub.full_name AS user_name, sd.doctor_name, tsu.name AS create_name
        FROM
            exam_report_review err
            LEFT JOIN user_basic ub ON err.user_id=ub.user_id
            LEFT JOIN sys_doctor sd ON err.review_no=sd.doctor_no
            LEFT JOIN t_sys_user tsu ON err.create_by=tsu.id
        WHERE
          err.report_no=#{reportNo}
        LIMIT 1
    </select>

    <select id="selectSuggestions" resultType="java.lang.String">
        SELECT GROUP_CONCAT(suggestions SEPARATOR '；\n')
        FROM exam_report_review
        WHERE SUBSTR(byh,1,13)=#{orderNo}
    </select>

    <!-- 添加报告建议-->
    <update id="insertReportSuggest">
        update  exam_report_review set suggestions=#{suggestions}
        where report_no=#{reportNo}  and  review_no=#{reviewNo}
    </update>

    <!-- 确认报告解读-->
    <update id="updateReportStatus">
        update  exam_report_review set status=1
        where report_no=#{reportNo}
    </update>

</mapper>
