<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamPackageDetailMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamPackageDetail" >
        <result column="sys_id" property="sysId" />
        <result column="exam_main_id" property="examMainId" />
        <result column="exam_master_id" property="examMasterId" />
        <result column="exam_detail_id" property="examDetailId" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.ExamChooseVo">
        <result column="exam_master_id" property="examMasterId"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="BaseResultMapEEVo" type="com.annaru.upms.entity.vo.ExamExtensionVo">
        <result column="name" property="name"/>
        <result column="item_name" property="itemName"/>
        <result column="masterId" property="masterId"/>
        <result column="detailId" property="detailId"/>
    </resultMap>

    <resultMap id="DetailVoResultMap" type="com.annaru.upms.entity.vo.ExamPackageDetailVo">
        <result column="exam_main_id" property="packageId"/>
        <result column="master_id" property="masterId"/>
        <result column="master_name" property="masterName"/>
    </resultMap>

    <select id="getChoosen" parameterType="map" resultMap="BaseResultMapVo">
                SELECT
                epd.exam_master_id,
                em.`name`
                from
                exam_package_detail epd
                LEFT JOIN exam_master em
                on epd.exam_master_id = em.sys_id
                WHERE epd.exam_main_id = #{params.examId}
                GROUP BY epd.exam_master_id
    </select>

    <select id="getEEChoosen" parameterType="map" resultMap="BaseResultMapEEVo">
        SELECT
        em.name,
        ed.item_name,
        em.sys_id masterId,
        ed.sys_id detailId
        FROM
        exam_package_extension epe
        LEFT JOIN exam_master em
        on epe.exam_master_id = em.sys_id
        LEFT JOIN exam_detail ed
        on ed.sys_id = epe.exam_detail_id
        WHERE epe.pkg_main_id = #{params.examId}
    </select>

    <select id="selectMasterList" resultMap="DetailVoResultMap">
        SELECT DISTINCT
               epd.exam_main_id,
               em.sys_id AS master_id, em.name AS master_name
        FROM exam_package_detail epd
        LEFT JOIN exam_master em ON em.sys_id=epd.exam_master_id
        WHERE epd.exam_main_id=#{examMainId}
    </select>

</mapper>