<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamReportClassifyMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamReportClassify" >
        <result column="sys_id" property="sysId" />
        <result column="report_no" property="reportNo" />
        <result column="user_id" property="userId" />
        <result column="order_no" property="orderNo" />
        <result column="byh" property="byh" />
        <result column="report_status" property="reportStatus" />
        <result column="is_posted" property="isPosted" />
        <result column="posted_time" property="postedTime" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <resultMap id="ExamReportVoMap" type="com.annaru.upms.entity.vo.ExamReportVo" >
        <result column="order_no" property="orderNo" />
        <result column="order_time" property="orderTime" />
        <result column="order_cates" property="orderCates" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_gender" property="userGender" />
        <result column="package_name" property="packageName" />
        <result column="package_subtitle" property="packageSubtitle" />
        <result column="package_cates" property="packageCates" />
        <result column="sample_code" property="sampleCode" />
        <result column="handover_time" property="handoverTime" />
    </resultMap>

    <select id="selectExamReportVoPage" resultMap="ExamReportVoMap">
        SELECT om.order_no, om.order_time, om.order_cates,
               ub.user_id, ub.full_name AS user_name, ub.gender AS user_gender,
               epm.package_name, epm.subtitle AS package_subtitle, epm.cates AS package_cates,
               ehs.sample_code, ehs.handover_time
        FROM order_main om
        LEFT JOIN user_basic ub ON ub.user_id=om.user_id
        LEFT JOIN exam_package_main epm ON epm.sys_id=om.reference_no
        LEFT JOIN exam_handover_sheet ehs ON ehs.order_no=om.order_no
        WHERE
        ub.user_id = #{params.userId} AND om.order_cates not in (5,6)
        <if test="orderCates != null">
            AND om.order_cates = #{orderCates}
        </if>
        <if test="packageCates != null">
            AND epm.cates = #{packageCates}
        </if>

    </select>


</mapper>