<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamInspectReportResultMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamInspectReportResult" >
        <result column="id" property="id" />
        <result column="inspect_report_id" property="inspectReportId" />
        <result column="XH" property="XH" />
        <result column="XMBM" property="XMBM" />
        <result column="XMMC" property="XMMC" />
        <result column="JCJG" property="JCJG" />
        <result column="DW" property="DW" />
        <result column="XMCKZ" property="XMCKZ" />
        <result column="JGPD" property="JGPD" />
        <result column="WJZBZ" property="WJZBZ" />
        <result column="MDDM" property="MDDM" />
    </resultMap>
    
    <sql id="BaseClounm">
        id,
        inspect_report_id,
        XH,
        XMBM,
        XMMC,
        JCJG,
        XMDW,
        XMCKZ,
        JGPD,
        WJZBZ,
        MDDM
    </sql>

    <select id="selectListByInspectReportId" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseClounm"></include>
        FROM
            exam_inspect_report_result
        <where>
            <if test="inspectReportId != null and inspectReportId != ''">
                inspect_report_id = #{inspectReportId}
            </if>
            <if test="inspectReportId == null and inspectReportId == ''">
                1=2
            </if>
        </where>
    </select>

</mapper>