<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamAppendMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamAppend" >
        <result column="sys_id" property="sysId" />
        <result column="service_name" property="serviceName" />
        <result column="image_name_url" property="imageNameUrl" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              sys_id,
              service_name,
              image_name_url
        FROM
            exam_append
        <where>
            <if test="params.serviceName != null and params.serviceName != ''">
                serviceName LIKE CONCAT('%', #{params.serviceName}, '%')
            </if>
        </where>
    </select>

</mapper>