<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamInspectReportTctMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamInspectReportTct" >
        <result column="id" property="id" />
        <result column="inspect_report_id" property="inspectReportId" />
        <result column="YYBLH" property="YYBLH" />
        <result column="BBMYD" property="BBMYD" />
        <result column="XBL" property="XBL" />
        <result column="JGXB" property="JGXB" />
        <result column="HXB" property="HXB" />
        <result column="HSXB" property="HSXB" />
        <result column="XBFGL" property="XBFGL" />
        <result column="BBQT" property="BBQT" />
        <result column="DZGR" property="DZGR" />
        <result column="MJGR" property="MJGR" />
        <result column="HPVGR" property="HPVGR" />
        <result column="FXJGR" property="FXJGR" />
        <result column="PZBD" property="PZBD" />
        <result column="QTGR" property="QTGR" />
        <result column="XBBLXZD" property="XBBLXZD" />
        <result column="ZDBZ" property="ZDBZ" />
        <result column="XBBLXJG" property="XBBLXJG" />
    </resultMap>
    
    <sql id="BaseClounmSql">
          id,
          inspect_report_id,
          YYBLH,
          BBMYD,
          XBL,
          JGXB,
          HXB,
          HSXB,
          XBFGL,
          BBQT,
          DZGR,
          MJGR,
          HPVGR,
          FXJGR,
          PZBD,
          QTGR,
          XBBLXZD,
          ZDBZ,
          XBBLXJG
    </sql>

    <select id="selectByInspectReportId" resultType="com.annaru.upms.entity.ExamInspectReportTct">
        SELECT
          <include refid="BaseClounmSql"></include>
        FROM
          exam_inspect_report_tct
        WHERE
          inspect_report_id = #{inspectReportId}
    </select>

    <select id="selectDataPage" resultType="com.annaru.upms.entity.ExamInspectReportTct">
        SELECT
          <include refid="BaseClounmSql"></include>
        FROM
          exam_inspect_report_tct
        <where>
            <if test="params.inspectReportId != null and params.inspectReportId != ''">
                inspect_report_id = #{params.inspectReportId}
            </if>
        </where>
    </select>

</mapper>