<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamDetailMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamDetail" >
        <result column="sys_id" property="sysId" />
        <result column="item_name" property="itemName" />
        <result column="abstracts" property="abstracts" />
        <result column="standard_value" property="standardValue" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
    </resultMap>
    <resultMap id="row" type="com.annaru.upms.entity.ExamDetail" >
        <result column="sys_id" property="eecId" />
        <result column="name" property="eecName" />
    </resultMap>
    <resultMap id="row2" type="com.annaru.upms.entity.ExamDetail" >
        <result column="sys_id" property="sysId" />
        <result column="item_name" property="itemName" />
        <result column="abstracts" property="abstracts" />
        <result column="standard_value" property="standardValue" />
        <result column="master_id" property="masterId" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              sys_id,
              item_name,
              abstracts,
              standard_value,
              creation_time,
              edit_time
        FROM
            exam_detail
        WHERE
            status=0
            <if test="params.key != null and params.key != ''">
                AND key LIKE CONCAT('%', #{params.key}, '%')
            </if>
    </select>
    <select id="selectType" resultMap="row">
        select
        sys_id,
        name
        from exam_extention_cates
    </select>
    <select id="selectByType" resultMap="row2">
        select
        sys_id,
        item_name,
        abstracts,
        standard_value,
        master_id
        from exam_detail
        where extension_cates_id = #{ecId};
    </select>

</mapper>