<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamReportClassifyMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamReportClassify" >
        <result column="sys_id" property="sysId" />
        <result column="report_no" property="reportNo" />
        <result column="user_id" property="userId" />
        <result column="order_no" property="orderNo" />
        <result column="byh" property="byh" />
        <result column="report_status" property="reportStatus" />
        <result column="is_posted" property="isPosted" />
        <result column="posted_time" property="postedTime" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <resultMap id="BaseResultListVoMap" type="com.annaru.upms.entity.vo.ExamReportClassifyListVo" >
        <result column="report_no" property="reportNo" />
        <result column="user_id" property="userId" />
        <result column="order_no" property="orderNo" />
        <result column="report_status" property="reportStatus" />
        <result column="is_posted" property="isPosted" />
        <result column="BRXM" property="BRXM" />
        <result column="BRXB" property="BRXB" />
        <result column="BRNL" property="BRNL" />
        <result column="package_name" property="packageName" />
        <result column="inspection_item" property="inspectionItem" />
        <result column="SHSJ" property="SHSJ" />
        <result column="BGLX" property="BGLX" />
    </resultMap>

    <resultMap id="BaseResultInfoVoMap" type="com.annaru.upms.entity.vo.ExamReportClassifyInfoVo" >
        <result column="report_no" property="reportNo" />
        <result column="user_id" property="userId" />
        <result column="order_no" property="orderNo" />
        <result column="report_status" property="reportStatus" />
        <result column="is_posted" property="isPosted"/>
        <result column="package_name" property="packageName" />
        <result column="inspection_item" property="inspectionItem" />
    </resultMap>
    
    <select id="selectDataListByUserId" resultMap="BaseResultListVoMap">
        SELECT
            erc.report_no,
            erc.user_id,
            erc.order_no,
            erc.report_status,
            erc.is_posted,
            eir.BRXM,
            eir.BRXB,
            eir.BRNL,
            eir.SHSJ,
            eir.BGLX,
            err.status,
            epm.package_name,
            epm.subtitle AS inspection_item
        FROM exam_report_classify erc
        INNER JOIN exam_inspect_report eir ON eir.report_no=erc.report_no
        LEFT JOIN order_main om ON om.order_no=erc.order_no
        LEFT JOIN exam_package_main epm ON epm.sys_id=om.reference_no
        LEFT JOIN exam_report_review err ON err.report_no=erc.report_no
        WHERE(erc.report_status=0 OR (erc.report_status=1 AND err.status=1))
            <if test="userId != null and userId != ''">
                AND erc.user_id=#{userId}
            </if>
    </select>

    <select id="selectByReportNo" resultMap="BaseResultInfoVoMap">
        SELECT
            erc.report_no,
            erc.user_id,
            erc.order_no,
            erc.report_status,
            erc.is_posted,
            epm.package_name,
            epm.subtitle AS inspection_item
        FROM exam_report_classify erc
        LEFT JOIN order_main om ON om.order_no=erc.order_no
        LEFT JOIN exam_package_main epm ON epm.sys_id=om.reference_no
        WHERE erc.report_no = #{reportNo}
    </select>

</mapper>