<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamInspectReportMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamInspectReport" >
        <result column="id" property="id" />
        <result column="logID" property="logID" />
        <result column="report_no" property="REPORTNO"/>
        <result column="app_barcode" property="APPBARCODE"/>
        <result column="exe_barcode" property="EXEBARCODE"/>
        <result column="BRXM" property="BRXM" />
        <result column="BRXB" property="BRXB" />
        <result column="BRNL" property="BRNL" />
        <result column="BBZL" property="BBZL" />
        <result column="BBXZ" property="BBXZ" />
        <result column="SJGDM" property="SJGDM" />
        <result column="DJGDM" property="DJGDM" />
        <result column="SJRQ" property="SJRQ" />
        <result column="SFJE" property="SFJE" />
        <result column="FJJE" property="FJJE" />
        <result column="ZKL" property="ZKL" />
        <result column="SJJE" property="SJJE" />
        <result column="BGBH" property="BGBH" />
        <result column="JYYS" property="JYYS" />
        <result column="SHYS" property="SHYS" />
        <result column="PZR" property="PZR" />
        <result column="CYSJ" property="CYSJ" />
        <result column="JSSJ" property="JSSJ" />
        <result column="JCSJ" property="JCSJ" />
        <result column="SHSJ" property="SHSJ" />
        <result column="BGLX" property="BGLX" />
        <result column="WJBZ" property="WJBZ" />
        <result column="WCBZ" property="WCBZ" />
        <result column="LCZD" property="LCZD" />
        <result column="BZ" property="BZ" />
        <result column="YBBH" property="YBBH" />
        <result column="BRCH" property="BRCH" />
        <result column="BRID" property="BRID" />
        <result column="BYH" property="BYH" />
        <result column="BRKS" property="BRKS" />
        <result column="BGDURL" property="BGDURL" />
        <result column="is_posted" property="isPosted" />
        <result column="post_time" property="postTime" />
    </resultMap>
    
    <sql id="BaseClounmSql">
          id,
          logID,
          report_no,
          app_barcode,
          exe_barcode,
          BRXM,
          BRXB,
          BRNL,
          BBZL,
          BBXZ,
          SJGDM,
          DJGDM,
          SJRQ,
          SFJE,
          FJJE,
          ZKL,
          SJJE,
          BGBH,
          JYYS,
          SHYS,
          PZR,
          CYSJ,
          JSSJ,
          JCSJ,
          SHSJ,
          BGLX,
          WJBZ,
          WCBZ,
          LCZD,
          BZ,
          YBBH,
          BRCH,
          BRID,
          BYH,
          BRKS,
          BGDURL,
          is_posted,
          id,
          logID,
          report_no,
          app_barcode,
          exe_barcode,
          BRXM,
          BRXB,
          BRNL,
          BBZL,
          BBXZ,
          SJGDM,
          DJGDM,
          SJRQ,
          SFJE,
          FJJE,
          ZKL,
          SJJE,
          BGBH,
          JYYS,
          SHYS,
          PZR,
          CYSJ,
          JSSJ,
          JCSJ,
          SHSJ,
          BGLX,
          WJBZ,
          WCBZ,
          LCZD,
          BZ,
          YBBH,
          BRCH,
          BRID,
          BYH,
          BRKS,
          BGDURL,
          is_posted,
          post_time
    </sql>

    <select id="selectDataPage" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseClounmSql"></include>
        FROM
          exam_inspect_report
        <where>
            <if test="params.reportNO != null and params.reportNO != ''">
                report_no LIKE CONCAT('%', #{params.reportNO}, '%')
            </if>
            <if test="params.startDate != null and params.startDate != ''">
                AND DATE_FORMAT(SHSJ, '%Y-%m-%d') &gt;= #{params.startDate}
            </if>
            <if test="params.endDate != null and params.endDate != ''">
                AND DATE_FORMAT(SHSJ, '%Y-%m-%d') &lt;= #{params.endDate}
            </if>
            <if test="params.appBarcode != null and params.appBarcode != ''">
                AND app_barcode = #{params.appBarcode}
            </if>
            <if test="params.exeBarcode != null and params.exeBarcode != ''">
                AND exe_barcode = #{params.exeBarcode}
            </if>
            <if test="params.reportType != null and params.reportType != '' ">
                AND BGLX = #{params.reportType}
            </if>
        </where>
    </select>

    <select id="selectDataList" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseClounmSql"></include>
        FROM
          exam_inspect_report
        <where>
            <if test="params.byh != null and params.byh != ''">
                byh = #{params.byh}
            </if>
            <if test="params.reportType != null and params.reportType != '' ">
                AND BGLX = #{params.reportType}
            </if>
        </where>
    </select>

    <select id="selectByReportNO" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            exam_inspect_report
        WHERE
            report_no = #{reportNO}
        LIMIT 1
    </select>

</mapper>