<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamReportClassifyMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="ReportInfoVoResultMap" type="com.annaru.upms.entity.vo.ExamReportInfoVo" >
        <result column="report_no" property="reportNo" />
        <result column="report_lczd" property="reportLCZD" />
        <result column="report_cysj" property="reportCYSJ" />
        <result column="report_bbzl" property="reportBBZL" />
        <result column="report_shsj" property="reportSHSJ" />
        <result column="report_bgdurl" property="reportBGDURL" />
        <result column="review_suggestions" property="reviewSuggestions" />
        <result column="review_result" property="reviewResult" />
        <result column="review_status" property="reviewStatus" />
        <collection property="reportClinicList" ofType="com.annaru.upms.entity.ExamInspectReportClinic">
            <result column="id" property="id" />
            <result column="inspect_report_id" property="inspectReportId" />
            <result column="XH" property="XH" />
            <result column="XMBM" property="XMBM" />
            <result column="XMMC" property="XMMC" />
            <result column="XMDM" property="XMDM" />
            <result column="JCJG" property="JCJG" />
            <result column="XMDW" property="XMDW" />
            <result column="XMCKZ" property="XMCKZ" />
            <result column="JGPD" property="JGPD" />
            <result column="WJZBZ" property="WJZBZ" />
            <result column="MDDM" property="MDDM" />
            <result column="MDMC" property="MDMC" />
            <result column="YWJC" property="YWJC" />
        </collection>
    </resultMap>


    <select id="selectReportInfo" resultMap="ReportInfoVoResultMap">
        SELECT
            eir.report_no, eir.LCZD AS report_lczd, eir.CYSJ AS report_cysj, eir.BBZL AS report_bbzl, eir.SHSJ AS report_shsj, eir.BGDURL AS report_bgdurl,
            err.suggestions AS review_suggestions, err.result AS review_result, err.status AS review_status,
            eirc.*
        FROM exam_report_classify erc
        LEFT JOIN exam_report_review err ON err.report_no=erc.report_no AND err.is_deleted=0
        LEFT JOIN exam_inspect_report eir ON eir.report_no = erc.report_no
        LEFT JOIN exam_inspect_report_clinic eirc ON eirc.inspect_report_id= eir.id
        LEFT JOIN exam_report_item_mapping erim ON erim.report_item_id=eirc.XMBM
        LEFT JOIN exam_detail ed ON ed.sys_id=erim.sys_item_id
        LEFT JOIN exam_master em ON em.sys_id=ed.master_id
        WHERE erc.order_no=#{orderNo} AND em.sys_id=#{masterId}
    </select>


</mapper>