<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamHandoverSheetMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamHandoverSheet" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="person_barcode" property="personBarcode" />
        <result column="person_barcode_confirmed" property="personBarcodeConfirmed" />
        <result column="sample_code" property="sampleCode" />
        <result column="draw_completed" property="drawCompleted" />
        <result column="draw_complete_time" property="drawCompleteTime" />
        <result column="is_handovered" property="isHandovered" />
        <result column="handover_by" property="handoverBy" />
        <result column="handover_time" property="handoverTime" />
        <result column="images" property="images" />
        <result column="name" property="name" />
    </resultMap>

    <sql id="BaseClounmSql">
          sys_id,
          order_no,
          person_barcode,
          person_barcode_confirmed,
          sample_code,
          draw_completed,
          draw_complete_time,
          is_handovered,
          handover_by,
          handover_time,
          images
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            exam_handover_sheet
    </select>

    <!--通过订单编号修改已有 未完成的预约记录-->
    <update id="updateExamHandoverSheet">
        update exam_handover_sheet set
			person_barcode_confirmed=#{personBarcodeConfirmed},-- 二维码状态
			sample_code=#{sampleCode},-- 血液样本编码
			draw_completed=#{drawCompleted}-- 抽血是否完成
        WHERE order_no=#{orderNo}
    </update>

    <!--上传交接单 通过订单号-->
    <update id="updateExamHandoverSheetByOrderNo">
        update exam_handover_sheet set
        sample_code=#{sampleCode},
        handover_by=#{handoverBy},
        handover_time=#{handoverTime},
        images=#{images}
        WHERE order_no=#{orderNo}
    </update>

    <!--查看交接单 通过订单号-->
    <select id="selectExamHandoverSheet" parameterType="map" resultMap="BaseResultMap">
      select
			ehs.sample_code, -- 样本编码
			si.name, -- 机构名称
			ehs.handover_time, -- 提交时间
			ehs.handover_by, -- 提交人
			ehs.images
        FROM
		    exam_handover_sheet as ehs
        LEFT JOIN order_appointment as oa ON ehs.order_no=oa.order_no
				LEFT JOIN sys_institution as si ON si.institution_id=oa.institution_id
        WHERE ehs.order_no=#{orderNo} and ehs.is_handovered=1
    </select>

    <!--删除定单通过 是否交接和订单编号-->
    <delete id="delExamHandoverSheet">
        DELETE FROM exam_handover_sheet WHERE order_no=#{orderNo}
    </delete>

</mapper>
