<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamPackageMainMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamPackageMain" >
        <result column="sys_id" property="sysId" />
        <result column="package_name" property="packageName" />
        <result column="amount" property="amount" />
        <result column="content" property="content" />
        <result column="cates" property="cates" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
        <result column="subtitle" property="subtitle" />
        <result column="age_from" property="ageFrom" />
        <result column="age_to" property="ageTo" />
        <result column="suite_gender" property="suiteGender" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.ExamPackageMain" >
        <result column="sys_id" property="sysId" />
        <result column="package_name" property="packageName" />
        <result column="amount" property="amount" />
        <result column="content" property="content" />
        <result column="cates" property="cates" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
        <result column="subtitle" property="subtitle" />
        <result column="age_from" property="ageFrom" />
        <result column="age_to" property="ageTo" />
        <result column="label" property="label" />
        <result column="suite_gender" property="suiteGender" />
        <result column="countPsersion" property="countPsersion"/>
        <result column="imageUrl" property="imageUrl"/>
        <!--<collection property="examPackageDetailList" ofType="com.annaru.upms.entity.ExamPackageDetail">-->
            <!--<result column="sys_id" property="sysId" />-->
            <!--<result column="exam_main_id" property="examMainId" />-->
            <!--<result column="exam_master_id" property="examMasterId" />-->
            <!--<result column="exam_detail_id" property="examDetailId" />-->
        <!--</collection>-->
    </resultMap>

    <resultMap id="selectInfoBySysIdVo" type="com.annaru.upms.entity.vo.ExamPackageMainVo" >
        
        <result column="sysId" property="sysId" />
        <result column="packageName" property="packageName" />
        <result column="subtitle" property="subtitle" />
        <result column="amount" property="amount" />
        <result column="content" property="content" />
        <result column="cates" property="cates" />
        <result column="imageUrl" property="imageUrl"/>
        <result column="label" property="label" />
        <result column="suiteGender" property="suiteGender" />
        <result column="creationTime" property="creationTime" />
        <result column="editTime" property="editTime" />

        <collection property="masterVoZList" ofType="com.annaru.upms.entity.vo.ExamMasterVoZ">
            <result column="emSysId" property="emSysId"/>
            <result column="emName" property="emName"/>
            <result column="emRemark" property="emRemark"/>
            <result column="emRemark1" property="emRemark1"/>
            <result column="emExamResult" property="emExamResult"/>
            <result column="emExamCates" property="emExamCates"/>
            <result column="emCreationTime" property="emCreationTime"/>

            <collection property="detailVoZList" ofType="com.annaru.upms.entity.vo.ExamDetailVoZ">
                <result column="edSysId" property="edSysId"/>
                <result column="edItemName" property="edItemName"/>
                <result column="edAbstracts" property="edAbstracts"/>
                <result column="edStandardValue" property="edStandardValue"/>
                <result column="edMasterId" property="edMasterId"/>
                <result column="edExtensionCatesId" property="edExtensionCatesId"/>
                <result column="edAmount" property="edAmount"/>
                <result column="edCreationTime" property="edCreationTime"/>
                <result column="edEditTime" property="edEditTime"/>
                <result column="edEecId" property="edEecId"/>
                <result column="edEecName" property="edEecName"/>
            </collection>
        </collection>

    </resultMap>

    <resultMap id="selectInfoBySysIdVoZ" type="com.annaru.upms.entity.vo.ExamPackageMainVoTcxqZ" >
        <result column="sysId" property="sysId" />
        <result column="packageName" property="packageName" />
        <result column="amount" property="amount" />
        <result column="content" property="content" />
        <result column="cates" property="cates" />
        <result column="creationTime" property="creationTime" />
        <result column="editTime" property="editTime" />
        <result column="subtitle" property="subtitle" />
        <result column="ageFrom" property="ageFrom" />
        <result column="ageTo" property="ageTo" />
        <result column="suiteGender" property="suiteGender" />
        <result column="countPsersion" property="countPsersion"/>
        <result column="countDetail" property="countDetail"/>
        <result column="imageUrl" property="imageUrl"/>
        <result column="label" property="label" />
        <collection property="examPackageMainVoZsfwZList" ofType="com.annaru.upms.entity.vo.ExamPackageMainVoZsfwZ">
            <result column="serviceName" property="serviceName"/>
            <result column="periods" property="periods"/>
            <result column="eaCates" property="eaCates"/>
        </collection>
        <collection property="examPackageMainVoXmZList" ofType="com.annaru.upms.entity.vo.ExamPackageMainVoXmZ">
            <result column="emName" property="emName"/>
            <result column="remark" property="remark"/>
            <result column="remark1" property="remark1"/>
        </collection>

    </resultMap>


    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPageZ" parameterType="map" resultMap="BaseResultMap1">

        SELECT
                epm.sys_id,
                package_name,
                amount,
                content,
                cates,
                creation_time,
                edit_time,
                subtitle,
                age_from,
                age_to,
                label,
                suite_gender,
                op.count_person countPsersion,
                epm.image_url imageUrl

        FROM
            exam_package_main epm
        LEFT JOIN exam_package_detail epd ON epd.exam_main_id = epm.sys_id
        LEFT JOIN (
                    SELECT count(om.sys_id) as count_person, pm.sys_id psys_id  FROM order_main om
                    RIGHT JOIN exam_package_main pm ON pm.sys_id = om.reference_no
                    GROUP BY om.reference_no
                  ) as op ON op.psys_id = epm.sys_id
        <where>
            1 = 1
            <if test="params.amountFrom != null and params.amountFrom != '' and params.amountTo != null and params.amountTo != '' ">
                AND epm.amount &gt; #{params.amountFrom} AND epm.amount &lt; #{params.amountTo}
            </if>
            <if test="params.label != null and params.label != ''">
                AND epm.label = #{params.label}
            </if>
            <if test="params.suiteGender != null and params.suiteGender != ''">
                AND epm.suite_gender = #{params.suiteGender}
            </if>
            <if test="params.examMasterI != null and params.examMasterI != ''">
                AND epd.exam_master_id = #{params.examMasterI}
            </if>
        </where>
        GROUP BY epm.package_name
        <if test="params.sort_count_person != null and params.sort_count_person != '' and params.sort_count_person == 1">
            ORDER BY op.count_person DESC
        </if>
        <if test="params.sort_count_person != null and params.sort_count_person != '' and params.sort_count_person == 2">
            ORDER BY op.count_person
        </if>

        <if test="params.amountSort != null and params.amountSort != '' and params.amountSort == 1">
            ORDER BY epm.amount DESC
        </if>
        <if test="params.amountSort != null and params.amountSort != '' and params.amountSort == 2">
            ORDER BY epm.amount
        </if>
    </select>

    <!-- 根据套餐编号查询套餐详情 -->
    <select id="selectInfoBySysId" parameterType="map" resultMap="selectInfoBySysIdVo">

        SELECT
            epm.sys_id sysId,
            epm.package_name packageName,
            epm.subtitle,
            epm.amount,
            epm.content,
            epm.cates,
            epm.image_url imageUrl,
            epm.label,
            epm.suite_gender suiteGender,
            epm.creation_time creationTime,
            epm.edit_time editTime,

            em.sys_id emSysId,
            em.name emName,
            em.remark emRemark,
            em.remark1 emRemark1,
            em.exam_result emExamResult,
            em.exam_cates emExamCates,
            em.creation_time emCreationTime,

            ed.sys_id edSysId,
            ed.item_name edItemName,
            ed.abstracts edAbstracts,
            ed.standard_value edStandardValue,
            ed.master_id edMasterId,
            ed.extension_cates_id edExtensionCatesId,
            ed.amount edMount,
            ed.creation_time edCreationTime,
            ed.edit_time edEditTime

        FROM exam_package_main epm
        LEFT JOIN exam_package_detail epd ON epd.exam_main_id = epm.sys_id
        LEFT JOIN exam_master em ON em.sys_id = epd.exam_master_id
        LEFT JOIN exam_detail ed ON ed.sys_id = epd.exam_detail_id
        WHERE 1 = 1
            <if test="params.sysId != null and params.sysId != ''">
                AND epm.sys_id = #{params.sysId}
            </if>
    </select>

    <!-- 根据套餐编号查询套餐详情 -->
    <select id="selectInfoBySysIdZ" parameterType="map" resultMap="selectInfoBySysIdVoZ">

        SELECT
        epm.sys_id sysId,
        package_name packageName,
        epm.amount,
        content,
        epm.cates,
        epm.creation_time creationTime,
        epm.edit_time editTime,
        subtitle,
        age_from ageFrom,
        age_to ageTo,
        suite_gender suiteGender,
        op.count_person countPsersion,
        ea.service_name serviceName,
        epdd.count_detail countDetail,
        em3.name emName,
        em3.remark,
        em3.remark1,
        epa.periods periods,
        ea.cates eaCates,
        epm.image_url imageUrl,
        epm.label
        FROM
        exam_package_main epm
        LEFT JOIN (
        SELECT count(om.sys_id) as count_person, pm.sys_id psys_id  FROM order_main om
        RIGHT JOIN exam_package_main pm ON pm.sys_id = om.reference_no
        GROUP BY om.reference_no
        ) as op ON op.psys_id = epm.sys_id
        LEFT JOIN (
        SELECT count(ed.exam_detail_id) count_detail, ed.exam_main_id FROM exam_package_detail ed
        GROUP BY ed.exam_main_id
        ) as epdd ON epdd.exam_main_id = epm.sys_id
        LEFT JOIN exam_package_detail epd3 ON epd3.exam_main_id = epm.sys_id
        LEFT JOIN exam_master em3 ON em3.sys_id = epd3.exam_master_id
        LEFT JOIN exam_detail ed3 ON ed3.sys_id = epd3.exam_detail_id
        LEFT JOIN exam_package_append epa ON epa.package_main_id = epm.sys_id
        LEFT JOIN exam_append ea ON ea.sys_id = epa.append_id
        WHERE 1 = 1
            <if test="params.sysId != null and params.sysId != ''">
                AND epm.sys_id = #{params.sysId}
            </if>
    </select>


    <!-- wh查询全部套餐-->
    <select id="selectAllExam" parameterType="map" resultMap="BaseResultMap">
            select package_name from exam_package_main
    </select>


</mapper>
