<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.ExamUserRecordMainMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.ExamUserRecordMain" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="user_id" property="userId" />
        <result column="creation_time" property="creationTime" />
    </resultMap>

    <resultMap id="BaseResultMapZ" type="com.annaru.upms.entity.vo.ExamUserRecordMainVoZ" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="creation_time" property="creationTime" />
        <result column="main_id" property="mainId" />
        <result column="question_id" property="questionId" />
        <result column="remark" property="remark" />
        <result column="answer_detail" property="answerDetail" />

    </resultMap>
    
    <sql id="BaseClounmSql">
          sys_id,
          order_no,
          user_id,
          creation_time
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            exam_user_record_main

    </select>

    <!-- 根据实体类得这条数据 -->
    <select id="getOneByExamUserRecordMain" parameterType="com.annaru.upms.entity.ExamUserRecordMain" resultMap="BaseResultMap">

        SELECT
        <include refid="BaseClounmSql"></include>
        FROM
        exam_user_record_main
        WHERE 1 = 1
        <if test="examUserRecordMain.orderNo != null and examUserRecordMain.orderNo != ''">
            AND order_no = #{examUserRecordMain.orderNo}
        </if>
        <if test="examUserRecordMain.userId != null and examUserRecordMain.userId != ''">
            AND user_id = #{examUserRecordMain.userId}
        </if>

    </select>

    <!-- 根据主表查询 数据登记主表 和 详情表 -->
    <select id="selectMainDetailByUserId" parameterType="map" resultMap="BaseResultMapZ">

        SELECT
            erm.sys_id, erm.order_no, erm.user_id, erm.creation_time, erd.question_id, erd.remark, erd.answer_detail
        FROM
        (
            SELECT erm1.sys_id sys_id, erm1.order_no order_no, erm1.user_id user_id,  erm1.creation_time creation_time
            FROM exam_user_record_main erm1
            WHERE 1 = 1
            <if test="userId != null and userId != ''">
                AND erm1.user_id = #{userId}
            </if>
            ORDER BY erm1.creation_time DESC LIMIT 0,2
        ) erm
        LEFT JOIN exam_user_record_detail erd ON erd.main_id = erm.sys_id
        ORDER BY erm.creation_time DESC

    </select>

</mapper>