<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.HrEmployeeDetailMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.vo.HrEmployeeDetail" >
        <result column="user_id" property="userId" />
        <result column="entity_id" property="entityId" />
        <result column="reference_no" property="referenceNo" />
        <result column="user_channel" property="userChannel" />
        <result column="appointment_cates" property="appointmentCates" />
        <result column="service_option" property="serviceOption" />
        <result column="time_from" property="timeFrom" />
        <result column="name" property="address" />
        <result column="time_to" property="timeTo" />
        <result column="reportTime" property="reportTime" />
        <result column="status" property="status" />
    </resultMap>


    <select id="selectEmployeeDetail" parameterType="map" resultMap="BaseResultMap">
        select
			uem.user_id,
			uem.entity_id,
			om.reference_no,
			om.user_channel,
			oa.appointment_cates,
			oa.service_option,
			oa.time_from,
			address,
			oa.time_to,
			oa.status,
			oa.time_to as reportTime
        FROM
			  user_entity_mapping as uem
        LEFT JOIN
              order_main as om ON uem.user_id=om.user_id
        LEFT JOIN
              order_appointment as oa ON uem.user_id=oa.user_id
        where
        uem.user_id=#{userId} and reference_no=#{referenceNo}
    </select>

</mapper>
