<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.LcdShowMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.LcdShow" >
        <result column="xpdz" property="xpdz" />
        <result column="ysxm" property="ysxm" />
        <result column="ysgh" property="ysgh" />
        <result column="fjmc" property="fjmc" />
        <result column="ysgy" property="ysgy" />
        <result column="pdhm" property="pdhm" />
        <result column="brxm" property="brxm" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

    <!--通过小屏地址查询mysql数据库-->
    <select id="selectByXpdz" resultMap="BaseResultMap">
        select
            xpdz,
            ysxm,
            ysgh,
            fjmc,
            ysgy,
            pdhm,
            brxm,
            create_time,
            update_time,
            status
        from
            lcd_show
        where
            xpdz=#{xpdz}
        LIMIT 1
    </select>

    <!--查询mysql数据库-->
    <select id="selectLcdShowByMysql" resultMap="BaseResultMap">
        SELECT
            xpdz,
            ysxm,
            ysgh,
            fjmc,
            ysgy,
            pdhm,
            brxm,
            create_time,
            update_time,
            status
         FROM
            lcd_show
    </select>

    <!--查询创业公司的 sqlserver 数据库-->
    <select id="selectLcdShowBySqlServer" resultMap="BaseResultMap">
        SELECT
            xpdz,
            ysxm,
            ysgh,
            fjmc,
            ysgy,
            pdhm,
            brxm
        FROM
            lcd_show
    </select>

    <!--根据xpdz更新数据-->
    <select id="updateByXpdz" parameterType="com.annaru.upms.entity.LcdShow">
        UPDATE
            lcd_show
        SET
            xpdz = #{xpdz} ,
            ysxm = #{ysxm} ,
            ysgh = #{ysgh} ,
            fjmc = #{fjmc} ,
            ysgy = #{ysgy} ,
            pdhm = #{pdhm} ,
            brxm = #{brxm},
            brxm = #{brxm},
            brxm = #{brxm},
            brxm = #{brxm},
            create_time = #{createTime},
            update_time = #{updateTime},
            status = #{status}
        WHERE
            xpdz = #{xpdz}
    </select>

</mapper>