<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.LcdShowMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.LcdShow" >
        <result column="xpdz" property="xpdz" />
        <result column="ysxm" property="ysxm" />
        <result column="ysgh" property="ysgh" />
        <result column="fjmc" property="fjmc" />
        <result column="ysgy" property="ysgy" />
        <result column="pdhm" property="pdhm" />
        <result column="brxm" property="brxm" />
    </resultMap>



    <select id="selectLcdShowByMysql" resultMap="BaseResultMap">
        select * from lcd_show
    </select>



    <select id="selectLcdShowBySqlServer" resultMap="BaseResultMap">
        select xpdz,ysxm,ysgh,fjmc,ysgy,pdhm,brxm from lcd_show
    </select>

</mapper>