<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.OrderCustomerMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.OrderCustomer" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="relative_id" property="relativeId" />
        <result column="user_cates" property="userCates" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              sys_id,
              order_no,
              relative_id
        FROM
            order_customer
        <where>
            <if test="params.orderNo != null and params.orderNo != ''">
                AND order_no LIKE CONCAT('%', #{params.orderNo}, '%')
            </if>
        </where>
    </select>

    <insert id="insertOrderCustomer" parameterType="com.annaru.upms.entity.OrderCustomer">
        insert into order_customer
                (order_no,relative_id,user_cates)
        values
                (#{orderNo},#{relativeId},#{userCates})
    </insert>


</mapper>
