<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.OrderDetailMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.OrderDetail" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="append_id" property="appendId" />
        <result column="effect_from" property="effectFrom" />
        <result column="effect_to" property="effectTo" />
        <result column="rest_count" property="restCount" />
        <result column="total_count" property="totalCount" />
        <result column="remark" property="remark" />
        <result column="creationtime" property="creationtime" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              sys_id,
              order_no,
              append_id,
              effect_from,
              effect_to,
        rest_count,
        total_count,
              remark,
              creationtime
        FROM
            order_detail
        <where>
            <if test="params.sysId != null and params.sysId != ''">
                AND sys_id LIKE CONCAT('%', #{params.sysId}, '%')
            </if>
        </where>
    </select>


    <insert id="insertOrderDetail" parameterType="com.annaru.upms.entity.OrderDetail">
        insert into order_detail
                  (order_no,append_id,rest_count,total_count,creationtime)
        VALUES
                (#{orderNo},#{appendId},#{restCount},#{totalCount},#{creationtime})
    </insert>

    <select id="hasRestTimes" parameterType="map" resultMap="BaseResultMap">
        SELECT
        od.*
        FROM
        order_main om
        LEFT JOIN order_detail od
        on om.order_no = od.order_no
        WHERE om.user_id = #{params.userId}
        and od.append_id = 2
        and od.rest_count is not NULL
        and od.rest_count !=0
        ORDER BY od.creationtime
        LIMIT 1
    </select>

</mapper>
