<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.OrderAppointmentMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.OrderAppointment" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="entity_id" property="entityId" />
        <result column="user_id" property="userId" />
        <result column="appointment_cates" property="appointmentCates" />
        <result column="related_no" property="relatedNo" />
        <result column="appoint_date" property="appointDate" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="institution_id" property="institutionId" />
        <result column="department_id" property="departmentId" />
        <result column="service_option" property="serviceOption" />
        <result column="appraisal" property="appraisal" />
        <result column="is_cancelled" property="isCancelled" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_time" property="editTime" />
        <result column="edit_by" property="editBy" />
    </resultMap>

    <resultMap id="NurseOrderList" type="com.annaru.upms.entity.vo.NurseOrderList">
        <result column="full_name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="head_image" property="headImg"/>
        <result column="appoint_date" property="appointmentDate"/>
        <result column="amount" property="amount"/>
        <result column="address" property="address"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.OrderAppointmentDoctorVo">
        <result column="full_name" property="fullName"/>
        <result column="gender" property="gender"/>
        <result column="status" property="status"/>
        <result column="user_age" property="userAge"/>
        <result column="user_id" property="userId"/>
        <result column="entity_id" property="entityId"/>
        <result column="time_to" property="timeTo"/>
    </resultMap>


    <!-- 个人用户患者信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap1">
        select
        ub.user_id,-- id
        ub.full_name,-- 姓名
        ub.gender,-- 性别
        TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,-- 年龄
        oa.entity_id,-- 公司名称
        oa.time_to,-- 截至时间
        oa.status -- 状态
        from
        order_appointment as oa
        LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
        <if test="params.relatedNo != null and params.relatedNo!=''">
            where oa.related_no=#{params.relatedNo} and oa.status=1
        </if>
    </select>

    <select id="getNurseOrderList" parameterType="map" resultMap="NurseOrderList">
            SELECT
            ub.full_name,
            ub.gender,
            ub.head_image,
            oa.is_cancelled,
            oa.order_no,
            oa.address,
            oa.appoint_date,
            oai.amount,
            FLOOR(DATEDIFF(now(), ub.date_of_birth)/365.2422) age
            FROM
            order_appointment oa
            LEFT JOIN
            user_basic ub
            on oa.user_id = ub.user_id
            LEFT JOIN
            order_additional_info oai
            on oai.order_no = oa.order_no
            LEFT JOIN
            exam_handover_sheet ehs
            on ehs.order_no = oa.order_no
            where oa.related_no = #{params.nurseNo}
            <if test="params.status == 0 ">
            and ehs.person_barcode_confirmed = 0 AND ehs.draw_completed = 0 AND ehs.is_handovered = 0 and oa.is_cancelled = 0
            </if>
            <if test="params.status == 1 ">
            and ehs.person_barcode_confirmed = 1 AND ehs.is_handovered = 0 and oa.is_cancelled = 0
            </if>
            <if test="params.status == 2 ">
            and oa.is_cancelled = 1
            </if>
            <if test="params.status == 3 ">
            and ehs.person_barcode_confirmed = 1 AND ehs.draw_completed = 1 AND ehs.is_handovered = 1 and oa.is_cancelled = 0
            </if>
            <if test="params.when == 0 ">
            AND YEARWEEK(date_format(oa.creation_time,'%Y-%m-%d')) = YEARWEEK(now())
            </if>
            <if test="params.when == 1 ">
            AND DATE_FORMAT(oa.creation_time, '%Y%m' ) = DATE_FORMAT(CURDATE(),'%Y%m')
            </if>
            <if test="params.when == 2 ">
            AND to_days(oa.creation_time) = to_days(now())
            </if>
    </select>

    <!--待确认患者列表-->
    <select id="selectList" parameterType="map" resultMap="BaseResultMap1">
        select
			  ub.user_id,-- id
			  ub.full_name,-- 姓名
			  ub.gender,-- 性别
			  TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,-- 年龄
			  oa.entity_id,-- 公司名称
			  oa.time_to,-- 截至时间
			  oa.status -- 状态
        from
              order_appointment as oa
        LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
        where oa.related_no=#{relatedNo}  and oa.status=#{status} and oa.appointment_cates=5
UNION
        select
			eha.user_id,-- id
		    ub.full_name,-- 姓名
			ub.gender,-- 性别
			TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
			eha.entity_no,-- 公司名称
			eha.time_to,-- 截至时间
			eha.status
        from
            entity_healthy_appointment as eha
        LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
        WHERE eha.related_no=#{relatedNo} and eha.status=#{status} and eha.pkg_main_id=8 and eha.pkg_detail_id=801
    </select>

    <!--确认接收 修改status-->
    <update id="updateStatus">
        update order_appointment SET status=#{status} WHERE order_no=#{orderNo}
    </update>

</mapper>
