<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.OrderMainMapper">


    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.OrderInfoVo" >
        <result column="address" property="address" />
        <result column="appointment_cates" property="appointmentCates" />
        <result column="appoint_date" property="appointDate" />
        <result column="time_from" property="timeFrom" />
        <result column="pay_status" property="payStatus" />
        <result column="institution_id" property="institutionId" />
        <result column="order_no" property="orderNo"/>
        <result column="parent_no" property="parentNo"/>
        <result column="order_cates" property="orderCates"/>
        <result column="option_1" property="serviceOption" />
        <result column="package_name" property="packageName"/>
        <result column="appointment_status" property="appointmentStatus" />
        <result column="hr_oppointment_id" property="hrOppointmentId"/>
        <result column="reference_no" property="referenceNo" />
        <result column="user_id" property="userId" />
        <result column="entity_id" property="entityId"/>
    </resultMap>

    <resultMap id="BaseResultMapOEVo" type="com.annaru.upms.entity.vo.OrderExtensionInfoVo" >
        <result column="institutionName" property="institutionName" />
        <result column="order_no" property="orderNo"/>
        <result column="is_cancelled" property="isCancelled"/>
        <collection property="details" ofType="com.annaru.upms.entity.vo.ExtensionDetail">
            <result column="itemName" property="itemName"/>
            <result column="itemDetailName" property="itemDetailName"/>
            <result column="time_from" property="timeFrom" />
            <result column="appoint_date" property="appointDate" />
        </collection>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.OrderMain" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="reference_no" property="referenceNo" />
        <result column="hr_oppointment_id" property="hrOppointmentId"/>
        <result column="order_cates" property="orderCates" />
        <result column="user_id" property="userId" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="order_time" property="orderTime" />
        <result column="amount" property="amount" />
        <result column="total_qty" property="totalQty" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="parent_no" property="parentNo" />
        <result column="user_channel" property="userChannel" />
        <result column="is_deleted" property="isDeleted" />
        <result column="creationtime" property="creationtime" />
    </resultMap>

    <resultMap id="UserPackages" type="com.annaru.upms.entity.vo.UserPackagesVo">
        <result column="package_name" property="packageName"/>
        <result column="order_no" property="orderNo"/>
        <result column="reference_no" property="referenceNo"/>
        <result column="hr_oppointment_id" property="hrOppointmentId"/>
        <result column="order_cates" property="orderCates"/>
    </resultMap>


    <resultMap id="AppendOrderMain" type="com.annaru.upms.entity.vo.AppendOrderMain">
        <result column="append_id" property="appendId"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="advanceBaseResultMap" type="com.annaru.upms.entity.vo.OrderMainVoZ" >
        <result column="sysId" property="sysId" />
        <result column="orderNo" property="orderNo" />
        <result column="examMasterItem" property="examMasterItem" />
        <result column="status" property="status" />
        <result column="customerName" property="customerName" />
        <result column="idNo" property="idNo" />
        <result column="periods" property="periods" />
        <result column="gender" property="gender" />
        <result column="cellphoneNo1" property="cellphoneNo1" />
        <result column="cellphoneNo2" property="cellphoneNo2" />
        <result column="cardCates" property="cardCates" />
        <result column="cardNo" property="cardNo" />
        <result column="siName" property="siName" />
        <result column="timeFrom" property="timeFrom" />
        <result column="timeTo" property="timeTo" />
        <result column="orderTime" property="orderTime" />
        <result column="userChannel" property="userChannel" />
        <result column="amount" property="amount" />
        <result column="departmentName" property="departmentName" />
        <result column="appointmentCates" property="appointmentCates" />
        <result column="option_1" property="option_1" />
        <result column="parentNo" property="parentNo" />
    </resultMap>

    <!-- 通用查询映射结果 订单列表分页 -->
    <resultMap id="advanceBaseResultMapZDdlb" type="com.annaru.upms.entity.vo.OrderMainVoZDdlb" >
        <result column="sysId" property="sysId" />
        <result column="orderNo" property="orderNo" />
        <result column="orderTime" property="orderTime" />
        <result column="packageName" property="packageName" />
        <result column="appointmentCates" property="appointmentCates" />
        <result column="option_1" property="option_1" />
        <result column="parentNo" property="parentNo" />
        <result column="status" property="status" />
        <result column="amount" property="amount" />

        <collection property="orderMainVoZTC3List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC3">
            <result column="examMasterItem" property="examMasterItem"/>
        </collection>
        <collection property="orderMainVoZTC4List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC4">
            <result column="customerName" property="customerName"/>
        </collection>
        <collection property="orderMainVoZTC5List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC5">
            <result column="fullName" property="fullName"/>
        </collection>
    </resultMap>

    <!-- 通用查询映射结果 套餐订单详情 -->
    <resultMap id="advanceBaseResultMapTcZ" type="com.annaru.upms.entity.vo.OrderMainVoZTC" >
        <result column="sysId" property="sysId" />
        <result column="orderNo" property="orderNo" />
        <result column="orderTime" property="orderTime" />
        <result column="packageName" property="packageName" />
        <result column="subtitle" property="subtitle" />
        <result column="content" property="content" />
        <result column="amount" property="amount" />
        <result column="fullName" property="fullName" />
        <result column="totalQty" property="totalQty" />
        <result column="status" property="status" />
        <result column="userChannel" property="userChannel" />

        <collection property="orderMainVoZTC1List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC1">
            <result column="serviceName" property="serviceName"/>
            <result column="periods" property="periods"/>
            <result column="cates" property="cates"/>
        </collection>
        <collection property="orderMainVoZTC2List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC2">
            <result column="emName" property="emName"/>
            <result column="itemNameCount" property="itemNameCount"/>
        </collection>
        <collection property="orderMainVoZTC3List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC3">
            <result column="examMasterItem" property="examMasterItem"/>
        </collection>
        <collection property="orderMainVoZTC4List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC4">
            <result column="customerName" property="customerName"/>
            <result column="gender" property="gender"/>
            <result column="idCardNo" property="idCardNo"/>
            <result column="cellphoneNo" property="cellphoneNo"/>
            <result column="remark" property="remark"/>
        </collection>
        <collection property="orderMainVoZTC6List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC6">
            <result column="fullName1" property="fullName1"/>
            <result column="gender1" property="gender1"/>
            <result column="idCardNo1" property="idCardNo1"/>
            <result column="cellphoneNo1" property="cellphoneNo1"/>
        </collection>
    </resultMap>

    <!-- 通用查询映射结果 自费订单详情 -->
    <resultMap id="advanceBaseResultMapZfZ" type="com.annaru.upms.entity.vo.OrderMainVoZZF" >
        <result column="sysId" property="sysId" />
        <result column="orderNo" property="orderNo" />
        <result column="status" property="status" />
        <result column="customerName" property="customerName" />
        <result column="idNo" property="idNo" />
        <result column="gender" property="gender" />
        <result column="cellphoneNo1" property="cellphoneNo1" />
        <result column="cardCates" property="cardCates" />
        <result column="cardNo" property="cardNo" />
        <result column="siName" property="siName" />
        <result column="timeFrom" property="timeFrom" />
        <result column="timeTo" property="timeTo" />
        <result column="orderTime" property="orderTime" />
        <result column="userChannel" property="userChannel" />
        <result column="amount" property="amount" />
        <result column="address" property="address" />

        <collection property="orderMainVoZTC3List" ofType="com.annaru.upms.entity.vo.OrderMainVoZTC3">
            <result column="examMasterItem" property="examMasterItem"/>
        </collection>
    </resultMap>

    <!-- 通用查询映射结果 门诊绿通订单详情 -->
    <resultMap id="advanceBaseResultMapMzltZ" type="com.annaru.upms.entity.vo.OrderMainVoZMzlt" >
        <result column="sysId" property="sysId" />
        <result column="orderNo" property="orderNo" />
        <result column="status" property="status" />
        <result column="customerName" property="customerName" />
        <result column="idNo" property="idNo" />
        <result column="gender" property="gender" />
        <result column="cellphoneNo1" property="cellphoneNo1" />
        <result column="cardCates" property="cardCates" />
        <result column="cardNo" property="cardNo" />
        <result column="siName" property="siName" />
        <result column="timeFrom" property="timeFrom" />
        <result column="timeTo" property="timeTo" />
        <result column="orderTime" property="orderTime" />
        <result column="userChannel" property="userChannel" />
        <result column="amount" property="amount" />
        <result column="departmentName" property="departmentName"/>
        <result column="option_2" property="option_2"/>
        <result column="address" property="address" />
    </resultMap>

    <resultMap id="selectSumByStatusResultMap" type="com.annaru.upms.entity.vo.OrderMainVoSumByStatusZ">
        <result column="sum1" property="sum1" />
        <result column="sum2" property="sum2" />
        <result column="sum3" property="sum3" />
        <result column="sum4" property="sum4" />
    </resultMap>


    <sql id="BaseColumn">
        sys_id,
        order_no,
        reference_no,
        hr_oppointment_id,
        order_cates,
        user_id,
        cellphone_no,
        order_time,
        amount,
        total_qty,
        STATUS,
        remark,
        parent_no,
        user_channel,
        is_deleted,
        creationtime
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
        sys_id,
        order_no,
        reference_no,
        order_cates,
        user_id,
        cellphone_no,
        order_time,
        total_qty,
        status,
        remark,
        parent_no,
        user_channel,
        is_deleted,
        creationtime
        FROM
        order_main
        <where>
            <if test="params.userId != null and params.userId != ''">
                AND user_id LIKE CONCAT('%', #{params.userId}, '%')
            </if>
        </where>
    </select>

    <!-- 订单各状态的总数 -->
    <select id="selectSumByStatus" parameterType="map" resultMap="selectSumByStatusResultMap">
        SELECT
        sum(om.status = 0) sum1 ,sum(om.status = 1) sum2 ,sum(om.status = 2) sum3 ,sum(om.status = 3) sum4
        FROM order_main om
        WHERE 1 = 1 AND om.is_deleted = 0
        <if test="params.userId != null and params.userId != ''">
            AND om.user_id = #{params.userId}
        </if>
    </select>

    <!-- 多表页面信息查询分页 -->
    <select id="selectOrderPage" parameterType="map" resultMap="advanceBaseResultMapZDdlb">
        SELECT
        om.sys_id sysId,
        om.order_no orderNo,
        om.order_time orderTime,
        ur.relative_name customerName,
        ub.full_name fullName,

        epm.package_name packageName,
        oex.exam_master_item examMasterItem,
        om.order_cates appointmentCates,
        oai.option_1 option_1,
        om.parent_no parentNo,
        om.status,
        oai.amount

        FROM order_main om
        LEFT JOIN order_additional_info oai ON oai.order_no = om.order_no
        LEFT JOIN order_customer oc ON oc.order_no = om.order_no
        LEFT JOIN user_relatives ur ON ur.relative_id = oc.relative_id
        LEFT JOIN user_basic ub ON ub.user_id = oc.relative_id
        LEFT JOIN exam_package_main epm ON epm.sys_id = om.reference_no
        LEFT JOIN order_extension_exam oex ON oex.order_no = om.order_no
        WHERE
        1=1 AND om.is_deleted = 0
        <if test="params.status != null and params.status != '' or params.status == 0">
            AND om.status = #{params.status}
        </if>
        <if test="params.userId != null and params.userId != ''">
            AND om.user_id = #{params.userId}
        </if>
        GROUP BY om.sys_id,ur.relative_name
    </select>

    <!-- 多表页面信息查询分页  套餐订单-->
    <select id="selectPackageOrder" parameterType="map" resultMap="advanceBaseResultMapTcZ">
        SELECT
        om.sys_id sysId,
        om.order_no orderNo,
        om.order_time orderTime,
        epm.package_name packageName,
        epm.subtitle,
        epm.content,
        ea.service_name serviceName,
        epa.periods,
        ea.cates,
        om.amount,
        em.name emName,
        oee.exam_master_item examMasterItem,
        ub.full_name fullName,
        om.total_qty totalQty,
        ur.relative_name customerName,
        ur.gender,
        ur.id_card_no idCardNo,
        ur.cellphone_no cellphoneNo,
        ur.remark,
        ub1.full_name fullName1,
        ub1.gender gender1,
        ub1.id_card_no idCardNo1,
        ub1.cellphone_no cellphoneNo1,
        om.status,
        om.user_channel userChannel,
        (SELECT SUM(ed.sys_id) FROM exam_detail ed WHERE ed.sys_id = epd.exam_detail_id ) itemNameCount
        FROM
        order_main om
        LEFT JOIN exam_package_main epm ON epm.sys_id = om.reference_no
        LEFT JOIN exam_package_append epa ON epm.sys_id = epa.package_main_id
        LEFT JOIN exam_append ea ON ea.sys_id = epa.append_id
        LEFT JOIN exam_package_detail epd ON epd.exam_main_id = epm.sys_id
        LEFT JOIN exam_master em ON em.sys_id = epd.exam_master_id
        LEFT JOIN order_extension_exam oee ON oee.order_no = om.order_no
        LEFT JOIN user_basic ub ON ub.user_id = om.user_id
        LEFT JOIN order_customer oc ON oc.order_no = om.order_no
        LEFT JOIN user_relatives ur ON ur.relative_id = oc.relative_id
        LEFT JOIN user_basic ub1 ON ub.user_id = oc.relative_id
        WHERE
        1=1 AND om.is_deleted = 0
        <if test="params.sysId != null and params.sysId != ''">
            AND om.sys_id = #{params.sysId}
        </if>
        GROUP BY em.name,ea.service_name,oee.exam_master_item,ur.relative_name
    </select>

    <!-- 多表页面信息查询分页  自费订单-->
    <select id="selectPackageAdvance" parameterType="map" resultMap="advanceBaseResultMapZfZ">
        SELECT
        om.sys_id sysId,
        om.order_no orderNo,
        oee.exam_master_item examMasterItem,
        om.status,
        ub.full_name customerName,
        ub.id_card_no idNo,
        ub.gender,
        om.cellphone_no cellphoneNo1,
        uc.card_cates cardCates,
        uc.card_no cardNo,
        si.name siName,
        oa.time_from timeFrom,
        oa.time_to timeTo,
        om.order_time orderTime,
        om.user_channel userChannel,
        om.amount,
        oa.address
        FROM
        order_main om
        LEFT JOIN order_extension_exam oee ON oee.order_no = om.order_no
        LEFT JOIN order_appointment oa ON oa.order_no = om.order_no
        LEFT JOIN sys_institution si ON si.institution_id = oa.institution_id
        LEFT JOIN user_cards uc ON om.user_id = uc.user_id
        LEFT JOIN user_basic ub ON ub.user_id = om.user_id
        WHERE
        1=1 AND om.is_deleted = 0
        <if test="params.sysId != null and params.sysId != ''">
            AND om.sys_id = #{params.sysId}
        </if>
    </select>

    <!-- 多表页面信息查询分页  门诊绿通订单详情-->
    <select id="selectPackageGreen" parameterType="map" resultMap="advanceBaseResultMapMzltZ">
        SELECT
        om.sys_id sysId,
        om.order_no orderNo,
        om.status,
        ub.full_name customerName,
        ub.id_card_no idNo,
        ub.gender,
        om.cellphone_no cellphoneNo1,
        uc.card_cates cardCates,
        uc.card_no cardNo,
        si.name siName,
        oa.time_from timeFrom,
        oa.time_to timeTo,
        om.order_time orderTime,
        om.user_channel userChannel,
        om.amount,
        sd.department_name departmentName,
        oai.option_2,
        oa.address
        FROM
        order_main om
        LEFT JOIN order_appointment oa ON oa.order_no = om.order_no
        LEFT JOIN sys_institution si ON si.institution_id = oa.institution_id
        LEFT JOIN user_cards uc ON om.user_id = uc.user_id
        LEFT JOIN user_basic ub ON ub.user_id = om.user_id
        LEFT JOIN sys_department sd ON sd.sys_id = oa.department_id
        LEFT JOIN order_additional_info oai ON oai.order_no = om.order_no
        WHERE
        1=1 AND om.is_deleted = 0
        <if test="params.sysId != null and params.sysId != ''">
            AND om.sys_id = #{params.sysId}
        </if>
    </select>

    <select id="selectByOrderNo" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumn"></include>
        FROM
        order_main
        WHERE
        order_no = #{orderNo}
        LIMIT 1

    </select>

    <select id="getOrderNo" parameterType="map" resultMap="BaseResultMap">
        select order_no from order_main
        where
        status = 2
        <if test="params.referenceNo != null and params.referenceNo != ''">
            AND  reference_no = #{params.referenceNo}
        </if>
    </select>

    <select id="getTimes" parameterType="map" resultType="int">
        SELECT
        od.rest_count
        FROM
        order_main om
        LEFT JOIN order_detail od
        on om.order_no = od.order_no
        WHERE om.user_id = #{params.userId}
        and od.append_id = 2
        and od.rest_count is not NULL
    </select>

    <!-- TOC下订单 OrderMain-->
    <insert id="insertOrderMain" parameterType="com.annaru.upms.entity.OrderMain">
        insert into order_main
                (order_no,reference_no,total_qty,user_id,order_cates,amount)
        VALUES
                (#{orderNo},#{referenceNo},#{totalQty},#{userId},#{orderCates},#{amount})
    </insert>

    <select id="selectAppendByOrderNo" parameterType="map" resultMap="AppendOrderMain">
        SELECT
			epa.append_id -- 套餐下的服务
        FROM order_main as om
        LEFT JOIN exam_package_append as epa ON om.reference_no=epa.package_main_id
        where order_no=#{orderNo}
    </select>


    <select id="getToB" parameterType="map" resultMap="BaseResultMapVo">
        SELECT
        oa.address,
        oa.appointment_cates,
        oa.appoint_date,
        oa.institution_id,
        oa.related_no,
        oa.order_no,
        oai.option_1,
        oa.time_from,
        oa.`status` appointment_status,
        om.order_cates,
        om.reference_no,
        om.`status` pay_status,
        om.user_id,
        oa.entity_id,
        epm.package_name
        FROM
        order_appointment oa
        LEFT JOIN order_main om
        on oa.order_no = om.order_no
        LEFT JOIN order_additional_info oai
        on oai.order_no = oa.order_no
        LEFT JOIN exam_package_main epm
        on epm.sys_id = om.reference_no
        WHERE
        oa.appointment_cates = 3
        and oa.user_id = #{params.userId}
        and om.reference_no = #{params.referenceNo}
        and oa.is_cancelled = 0
        and om.is_deleted = 0
    </select>

    <select id="getExtensionInfo" parameterType="map" resultMap="BaseResultMapOEVo">
 SELECT
	oa.appoint_date,
	em.`name` itemName,
	ed.item_name itemDetailName,
	oa.order_no,
	oa.time_from,
	si.`name` institutionName,
	oa.is_cancelled
FROM
	order_appointment oa
LEFT JOIN order_extension_exam oee ON oee.sys_id = oa.extensionItem_id
LEFT JOIN exam_master em ON em.sys_id = oee.exam_master_id
LEFT JOIN exam_detail ed ON ed.sys_id = oee.exam_detail_id
LEFT JOIN sys_institution si ON si.institution_id = oa.institution_id
WHERE
	oa.parent_no = #{params.orderNo}
    </select>

    <select id="getBase" parameterType="map" resultMap="BaseResultMapVo">
        SELECT
            oa.address,
            oa.appointment_cates,
            oa.appoint_date,
            oa.department_id,
            oa.entity_id,
            oa.institution_id,
            oa.order_no,
            oa.related_no,
            oa.service_option,
            oai.option_1,
            oa.time_from,
            oa.user_id,
            om.order_cates,
            om.parent_no,
            om.reference_no,
            oa.`status` appointment_status,
            om.`status` pay_status,
            epm.package_name
            FROM
            order_appointment oa
            LEFT JOIN order_main om
            on oa.order_no = om.order_no
            LEFT JOIN order_additional_info oai
            on oai.order_no = oa.order_no
            LEFT JOIN exam_package_main epm
            on epm.sys_id = om.reference_no
            where om.parent_no = #{params.parentNo} and (oa.appointment_cates = 2 or oa.appointment_cates = 4)
            and om.is_deleted = 0
            and oa.is_cancelled = 0
    </select>

    <select id="getToBPackages" parameterType="map" resultMap="UserPackages">
        SELECT
        epm.package_name,
        om.order_no,
        oa.creation_time,
        om.reference_no,
        om.hr_oppointment_id,
        om.order_cates
        FROM
        order_main om
        LEFT JOIN exam_package_main epm
        on epm.sys_id = om.reference_no
        LEFT JOIN order_appointment oa
        on om.order_no = oa.order_no
        WHERE
        (om.order_cates = 3 or om.order_cates = 1)
        and om.user_id = #{params.userId}
        and om.is_deleted = 0
        <if test="params.orderNo != null and params.orderNo != ''">
            AND oa.order_no = #{params.orderNo}
        </if>
        ORDER BY  oa.creation_time DESC
        LIMIT 1
    </select>

    <select id="getPackages" parameterType="map" resultMap="UserPackages">
        SELECT
        epm.package_name,
        om.order_no,
        oa.creation_time,
        om.reference_no,
        om.hr_oppointment_id,
        om.order_cates
        FROM
        order_main om
        LEFT JOIN exam_package_main epm
        on epm.sys_id = om.reference_no
        LEFT JOIN order_appointment oa
        on om.order_no = oa.order_no
        WHERE
        (om.order_cates = 3 or om.order_cates = 1)
        and om.user_id = #{params.userId}
        and om.is_deleted = 0
        GROUP BY order_no
        ORDER BY oa.creation_time DESC
    </select>

</mapper>
