<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.OrderMainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.OrderMain" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="reference_no" property="referenceNo" />
        <result column="order_cates" property="orderCates" />
        <result column="user_id" property="userId" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="order_time" property="orderTime" />
        <result column="total_qty" property="totalQty" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="parent_no" property="parentNo" />
        <result column="user_channel" property="userChannel" />
        <result column="is_deleted" property="isDeleted" />
        <result column="creationtime" property="creationtime" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
        sys_id,
        order_no,
        reference_no,
        order_cates,
        user_id,
        cellphone_no,
        order_time,
        total_qty,
        status,
        remark,
        parent_no,
        user_channel,
        is_deleted,
        creationtime
        FROM
        order_main
        WHERE
            1=1
            <if test="params.userId != null and params.userId != ''">
                AND user_id LIKE CONCAT('%', #{params.userId}, '%')
            </if>
    </select>

</mapper>