<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.OrderPaymentDetailMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.OrderPaymentDetail" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="repay_date" property="repayDate" />
        <result column="act_repay_date" property="actRepayDate" />
        <result column="total_amount" property="totalAmount" />
        <result column="paid_amount" property="paidAmount" />
        <result column="rest_amount" property="restAmount" />
        <result column="currenty_period" property="currentyPeriod" />
        <result column="total_period" property="totalPeriod" />
    </resultMap>
    
    <sql id="BaseClounmSql">
          sys_id,
          order_no,
          repay_date,
          act_repay_date,
          total_amount,
          paid_amount,
          rest_amount,
          currenty_period,
          total_period,
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            order_payment_detail

    </select>

</mapper>