<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.OrderAppointmentMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.OrderAppointment" >
        <result column="sys_id" property="sysId" />
        <result column="order_no" property="orderNo" />
        <result column="entity_id" property="entityId" />
        <result column="user_id" property="userId" />
        <result column="extensionItem_id" property="extensionItemId"/>
        <result column="appointment_cates" property="appointmentCates" />
        <result column="related_no" property="relatedNo" />
        <result column="appoint_date" property="appointDate" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="institution_id" property="institutionId" />
        <result column="department_id" property="departmentId" />
        <result column="service_option" property="serviceOption" />
        <result column="appraisal" property="appraisal" />
        <result column="is_cancelled" property="isCancelled" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="parent_no" property="parentNo"/>
        <result column="edit_time" property="editTime" />
        <result column="edit_by" property="editBy" />
    </resultMap>
    <sql id="getOneOrderAppointmentSql">
        sys_id, order_no, entity_id, user_id, appointment_cates, related_no, appoint_date, time_from, time_to,
        address, status, institution_id, department_id, service_option, appraisal, is_cancelled, creation_time,
        create_by, edit_time, edit_by
    </sql>

    <resultMap id="ABaseMap" type="com.annaru.upms.entity.vo.ExamReportReviewVo" >
        <result column="byh" property="byh" />
        <result column="report_no" property="reportNo" />
        <result column="user_id" property="userId" />
        <result column="head_image" property="headImage" />
        <result column="BRXM" property="BRXM" />
        <result column="BRXB" property="BRXB" />
        <result column="BGLX" property="BGLX" />
        <result column="BRNL" property="BRNL" />
        <result column="SHSJ" property="SHSJ" />
        <result column="status" property="status" />
        <result column="review_no" property="reviewNo" />
    </resultMap>


    <resultMap id="NurseOrderList" type="com.annaru.upms.entity.vo.NurseOrderList">
        <result column="full_name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="head_image" property="headImg"/>
        <result column="appoint_date" property="appointmentDate"/>
        <result column="amount" property="amount"/>
        <result column="address" property="address"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.OrderAppointmentDoctorVo">
        <result column="user_id" property="userId"/>
        <result column="head_image" property="headImage"/>
        <result column="full_name" property="fullName"/>
        <result column="gender" property="gender"/>
        <result column="user_age" property="userAge"/>
        <result column="entity_id" property="entityId"/>
        <result column="entity_name" property="entityName"/>
        <result column="effect_to" property="effectTo"/>
        <result column="status" property="status"/>
        <result column="order_no" property="orderNo"/>
        <result column="is_hr" property="isHr"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.annaru.upms.entity.vo.DoctorUserInfo">
        <result column="entity_no" property="entityNo"/>
        <result column="entity_name" property="entityName"/>
        <result column="user_id" property="userId"/>
        <result column="head_image" property="headImage"/>
        <result column="full_name" property="fullName"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="id_card_no" property="idCardNo"/>
        <result column="card_no" property="cardNo"/>
        <result column="effect_to" property="effectTo"/>
        <result column="is_hr" property="isHr"/>
    </resultMap>


    <resultMap id="BaseAppointInfo" type="com.annaru.upms.entity.vo.OrderAppointmentBase">
        <result column="sys_id" property="sysId"/>
        <result column="order_no" property="orderNo"/>
        <result column="entity_id" property="entityId"/>
        <result column="user_id" property="userId"/>
        <result column="appointment_cates" property="appointmentCates"/>
        <result column="related_no" property="relatedNo"/>
        <result column="appoint_date" property="appointDate"/>
        <result column="status" property="appointStatus"/>
        <result column="time_from" property="timeFrom"/>
        <result column="address" property="address"/>
        <result column="institutionName" property="institutionName"/>
        <result column="institution_id" property="institutionId"/>
        <result column="service_option" property="serviceOption"/>
        <result column="is_cancelled" property="isCancelled"/>
    </resultMap>

    <!-- 个人用户患者信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap1">
        select
        ub.user_id,-- id
        ub.head_image,
        ub.full_name,-- 姓名
        ub.gender,-- 性别
        TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,-- 年龄
        oa.entity_id,-- 企业编号
        sent.entity_name,-- 公司名称
        ufd.effect_to,-- 截至时间
        oa.status, -- 状态
        ub.is_hr
        from
        order_appointment as oa
        LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
        LEFT JOIN user_family_doctor as ufd ON oa.user_id=ufd.user_id
        LEFT JOIN sys_entity as sent ON oa.entity_id=sent.entity_id
        <if test="params.relatedNo != null and params.relatedNo!=''">
            where oa.related_no=#{params.relatedNo} and oa.status=1
        </if>
    </select>

    <select id="getNurseOrderList" parameterType="map" resultMap="NurseOrderList">
            SELECT
            ub.full_name,
            ub.gender,
            ub.head_image,
            oa.is_cancelled,
            oa.order_no,
            oa.address,
            oa.appoint_date,
            oai.amount,
            FLOOR(DATEDIFF(now(), ub.date_of_birth)/365.2422) age
            FROM
            order_appointment oa
            LEFT JOIN
            user_basic ub
            on oa.user_id = ub.user_id
            LEFT JOIN
            order_additional_info oai
            on oai.order_no = oa.order_no
            LEFT JOIN
            exam_handover_sheet ehs
            on ehs.order_no = oa.order_no
            where oa.related_no = #{params.nurseNo}
            <if test="params.status == 0 ">
            and ehs.person_barcode_confirmed = 0 AND ehs.draw_completed = 0 AND ehs.is_handovered = 0 and oa.is_cancelled = 0
            </if>
            <if test="params.status == 1 ">
            and ehs.person_barcode_confirmed = 1 AND ehs.is_handovered = 0 and oa.is_cancelled = 0
            </if>
            <if test="params.status == 2 ">
            and oa.is_cancelled = 1
            </if>
            <if test="params.status == 3 ">
            and ehs.person_barcode_confirmed = 1 AND ehs.draw_completed = 1 AND ehs.is_handovered = 1 and oa.is_cancelled = 0
            </if>
            <if test="params.when == 0 ">
            AND YEARWEEK(date_format(oa.creation_time,'%Y-%m-%d')) = YEARWEEK(now())
            </if>
            <if test="params.when == 1 ">
            AND DATE_FORMAT(oa.creation_time, '%Y%m' ) = DATE_FORMAT(CURDATE(),'%Y%m')
            </if>
            <if test="params.when == 2 ">
            AND to_days(oa.creation_time) = to_days(now())
            </if>
    </select>

    <!--待确认患者列表-->
    <select id="selectList" parameterType="map" resultMap="BaseResultMap1">
           select
			  ub.user_id,-- id
			  ub.head_image,
			  ub.full_name,-- 姓名
			  ub.gender,-- 性别
			  TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,-- 年龄
			  oa.entity_id,-- 企业编号
			  sent.entity_name,-- 公司名称
			  ufd.effect_to,-- 截至时间
			  oa.status, -- 状态
			  oa.order_no,
			  ub.is_hr -- 标识为用户
        from order_appointment as oa
            LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
			LEFT JOIN user_family_doctor as ufd ON oa.user_id=ufd.user_id
			LEFT JOIN sys_entity as sent ON oa.entity_id=sent.entity_id
        where oa.related_no=#{params.relatedNo}  and oa.status=#{params.status} and oa.appointment_cates=5
        <if test="params.name !=null and params.name != ''">
            and ub.full_name LIKE CONCAT('%', #{params.name}, '%')
        </if>

UNION
        select
			eha.user_id,-- id
			ub.head_image,
		    ub.full_name,-- 姓名
			ub.gender,-- 性别
			TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
			eha.entity_no, -- 企业编号
			sent.entity_name,-- 公司名称
			epm.effect_to,-- 截至时间
			eha.status,
			eha.order_no,
			ub.is_hr -- 标识为企业
        from entity_healthy_appointment as eha
            LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
			LEFT JOIN entity_purchse_main as epm ON eha.entity_no=epm.entity_no
			LEFT JOIN sys_entity as sent ON eha.entity_no=sent.entity_id
        WHERE eha.related_no=#{params.relatedNo} and eha.status=#{params.status} and eha.pkg_main_id=8 and eha.pkg_detail_id=801
        <if test="params.name !=null and params.name != ''">
            and ub.full_name LIKE CONCAT('%', #{params.name}, '%')
        </if>
    </select>

    <!--确认接收 修改status-->
    <update id="updateStatus">
        update order_appointment SET status=#{status} WHERE order_no=#{orderNo}
    </update>

    <!--我的患者详情-->
    <select id="selectInfo" parameterType="map" resultMap="BaseResultMap2">
        select
            ub.is_hr,-- 标识
			eha.user_id,-- id
			ub.head_image,
		    ub.full_name,-- 姓名
			ub.gender,-- 性别
			TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
			eha.entity_no,-- 企业编号
			sent.entity_name,-- 公司名称
			ub.id_card_no,-- 身份证号
			uc.card_no,-- 医保卡号
			epm.effect_to-- 截至时间
        from entity_healthy_appointment as eha
        LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
				LEFT JOIN user_cards as uc ON ub.user_id = uc.user_id
				LEFT JOIN entity_purchse_main as epm ON eha.entity_no=epm.entity_no
				LEFT JOIN sys_entity as sent ON eha.entity_no=sent.entity_id
        WHERE eha.user_id=#{userId} and eha.status=1
    </select>

    <!-- 患者的检验报告-->
    <select id="selectBRReport" parameterType="map" resultMap="ABaseMap">
        select
            err.byh,
            err.report_no,-- 报告编号
            err.review_no,-- 解读人
            ub.user_id,-- 用户编号
            ub.head_image,-- 头像
            eir.BRXM,-- 报告人
            eir.BRXB,-- 性别
            eir.BRNL,-- 年龄
            eir.BGLX,-- 报告类型
        -- ,-- 项目名称
            eir.SHSJ,-- 报告生成时间
            err.status-- 报告状态
        FROM exam_report_review as err
        LEFT JOIN exam_inspect_report as eir ON err.report_no=eir.report_no
        LEFT JOIN user_basic as ub ON ub.user_id=SUBSTRING_INDEX(err.byh,'^',-1)
        WHERE ub.user_id=#{params.userId}
    </select>

    <update id="updateIsCancelled">
        update order_appointment SET is_cancelled=#{isCancelled} WHERE order_no=#{orderNo}
    </update>

    <select id="getOrderAppointment" parameterType="com.annaru.upms.entity.OrderAppointment" resultMap="BaseResultMap">
        SELECT
           <include refid="getOneOrderAppointmentSql"></include>
        FROM
           order_appointment
        WHERE 1 = 1
        <if test="orderAppointment.orderNo != null and orderAppointment.orderNo != ''">
            AND order_no = #{orderAppointment.orderNo}
        </if>
        <if test="orderAppointment.appointmentCates != null and orderAppointment.appointmentCates != ''">
            AND appointment_cates = #{orderAppointment.appointmentCates}
        </if>
    </select>

    <select id="getAppointInfoByOrderNo" parameterType="map" resultMap="BaseAppointInfo">
            SELECT
            oa.sys_id,
            oa.order_no,
            oa.entity_id,
            oa.user_id,
            oa.address,
            oa.appointment_cates,
            oa.appoint_date,
            oa.status,
            si.`name` institutionName,
            oa.institution_id,
            oa.is_cancelled,
            oa.related_no,
            oa.service_option,
            oa.time_from
            FROM
            order_appointment oa
            LEFT JOIN sys_institution si
            on si.institution_id = oa.institution_id
            WHERE
            oa.order_no =  #{params.orderNo}
            and oa.is_cancelled = 0
    </select>





    <resultMap id="upDoorMap" type="com.annaru.upms.entity.vo.OrderOppintmentW" >
        <result column="order_no" property="orderNo" />
        <result column="appoint_date" property="appointDate" />
        <result column="address" property="address" />
        <result column="cellphone_no" property="cellphoneNo" />
    </resultMap>
    <resultMap id="upDoorMap1" type="com.annaru.upms.entity.vo.OrderOppintmentW1" >
        <result column="user_cates" property="userCates"/>
        <result column="userName" property="userName"/>
        <result column="userSex" property="userSex"/>
        <result column="userIdCard" property="userIdCard"/>
        <result column="userPhone" property="userPhone"/>
        <result column="userDocCard" property="userDocCard"/>
    </resultMap>
    <resultMap id="upDoorMap2" type="com.annaru.upms.entity.vo.OrderOppintmentW2" >
        <result column="user_cates" property="userCates"/>
        <result column="relatedName" property="relatedName"/>
        <result column="relatedSex" property="relatedSex"/>
        <result column="relatedIdCard" property="relatedIdCard"/>
        <result column="relatedPhone" property="relatedPhone"/>
        <result column="relatedDocCard" property="relatedDocCard"/>
    </resultMap>

    <!--查看家庭医生服务上门预约信息-->
    <select id="selectUpDoorOppointment" parameterType="String" resultMap="upDoorMap">
     SELECT
            oa.order_no,
			oa.appoint_date,
			oa.address,
			sd.cellphone_no
        FROM order_appointment as oa
        LEFT JOIN sys_doctor as sd ON sd.doctor_no=oa.related_no
            WHERE oa.order_no=#{orderNo}
    </select>
    <select id="selectUpDoorOppointment1" parameterType="String" resultMap="upDoorMap1">
     SELECT
			oc.user_cates,
			ub.full_name as userName,
			ub.gender as userSex,
			ub.id_card_no as userIdCard,
			ub.cellphone_no as userPhone,
			uc.card_no as userDocCard
	    from order_customer as oc
        LEFT JOIN user_basic as ub ON ub.user_id=oc.relative_id
        LEFT JOIN user_cards as uc ON uc.user_id=oc.relative_id
        where oc.order_no=#{orderNo} and  oc.user_cates=1
    </select>
    <select id="selectUpDoorOppointment2" parameterType="String" resultMap="upDoorMap2">
        SELECT
			oc.user_cates,
			ur.relative_name as relatedName,
			ur.gender as relatedSex,
			ur.id_card_no as relatedIdCard,
			ur.cellphone_no as relatedPhone,
			uc.card_no as relatedDocCard
	    from order_customer as oc
        LEFT JOIN user_relatives as ur ON ur.relative_id=oc.relative_id
        LEFT JOIN user_cards as uc ON uc.user_id=oc.relative_id
        where oc.order_no=#{orderNo} and  oc.user_cates=2
    </select>

</mapper>
