<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.PatientNumberMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.vo.PatientNumber" >
        <result column="unPatientNumber" property="unPatientNumber" />
        <result column="unAppointmentNumber" property="unAppointmentNumber" />
        <result column="unUpDoorNumber" property="unUpDoorNumber" />
        <result column="unscrambleNumber" property="unscrambleNumber" />
        <result column="sumNumber" property="sumNumber" />
    </resultMap>

    <!-- 查询待确认患者人数 -->
        <select id="selectUnPatientNumber" parameterType="String" resultType="int">
            select count(*) from order_appointment as oa
            LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
            where oa.related_no=#{doctorNo}  and oa.status=0 and oa.appointment_cates=5
        </select>

    <!-- 查询待确认预约人数 -->
        <select id="selectUnAppointmentNumber" parameterType="String" resultType="int">
            SELECT count(*) from order_appointment as oa
            LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
            WHERE oa.related_no=#{doctorNo}  and oa.status=0  and oa.appointment_cates=6
        </select>

    <!-- 查询待上门服务人数 -->
        <select id="selectUnUpDoorNumber" parameterType="String" resultType="int">
             select count(*)from entity_healthy_appointment as eha
              LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
		      LEFT JOIN order_main as om ON eha.order_no=om.order_no
		      LEFT JOIN exam_user_healthy_appraisal as euha ON euha.order_no=eha.order_no
              WHERE eha.related_no=#{doctorNo} and eha.pkg_main_id=8 and eha.pkg_detail_id=801 and eha.is_deleted = 0
              and eha.status=0
        </select>

    <!-- 查询待解读报告人数 -->
        <select id="selectUnscrambleNumber" parameterType="String" resultType="int">
            select count(*) FROM exam_report_review as err
            LEFT JOIN exam_inspect_report as eir ON err.report_no=eir.report_no
            LEFT JOIN user_basic as ub ON ub.user_id=SUBSTRING_INDEX(err.byh,'^',-1)
            WHERE err.review_no=#{doctorNo}  and err.status=0
        </select>

    <!-- 查询总患者人数 -->
        <select id="selectSumNumber1" parameterType="String" resultType="int">
            select count(*)from order_appointment as oa
            LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
            where oa.related_no=#{doctorNo}  and oa.status=1 and oa.appointment_cates=5
        </select>
        <select id="selectSumNumber2" parameterType="String" resultType="int">
            SELECT count(*) from order_appointment as oa
            LEFT JOIN user_basic as ub ON oa.user_id=ub.user_id
            WHERE oa.related_no=#{doctorNo} and oa.status=1 and oa.appointment_cates=6
        </select>
        <select id="selectSumNumber3" parameterType="String" resultType="int">
            select count(*) from entity_healthy_appointment as eha
            LEFT JOIN user_basic as ub ON eha.user_id=ub.user_id
		    LEFT JOIN order_main as om ON eha.order_no=om.order_no
		    LEFT JOIN exam_user_healthy_appraisal as euha ON euha.order_no=eha.order_no
            WHERE eha.related_no=#{doctorNo} and eha.pkg_main_id=8 and eha.pkg_detail_id=801 and eha.is_deleted = 0
        </select>


            <!-- 护士端首页统计信息-->
            <select id="selectNurse1" parameterType="String" resultType="int">
              SELECT count(*) FROM sys_doctor_nurse_oppointment
              WHERE doctor_nurse_no=#{nurseNo} and is_active=1
              and  appoint_date>DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 7 DAY),'%Y-%m-%d')
            </select>
            <select id="selectNurse2" parameterType="String" resultType="int">
                SELECT count(*) FROM sys_doctor_nurse_oppointment
                WHERE doctor_nurse_no=#{nurseNo} and is_active=1 and is_confirmed=0
                and  appoint_date>DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 7 DAY),'%Y-%m-%d')
            </select>
            <select id="selectNurse3" parameterType="String" resultType="int">
                SELECT count(*) FROM exam_handover_sheet as ehs
                LEFT JOIN order_appointment as oa ON oa.order_no=ehs.order_no
                WHERE oa.related_no=#{nurseNo}  and is_handovered=0
            </select>

</mapper>
