<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysDoctorScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysDoctorSchedule" >
        <result column="sys_id" property="sysId" />
        <result column="doctor_no" property="doctorNo" />
        <result column="date_from" property="dateFrom" />
        <result column="date_to" property="dateTo" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="is_active" property="isActive" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
        sys_id,
        doctor_no,
        date_from,
        date_to,
        time_from,
        time_to,
        is_active,
        creation_time,
        edit_time,
        FROM
        sys_doctor_schedule
        WHERE
        status=0
        <if test="params.key != null and params.key != ''">
            AND key LIKE CONCAT('%', #{params.key}, '%')
        </if>
    </select>

    <update id="updateActive" parameterType="map">

    </update>

</mapper>