<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysDoctorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysDoctor" >
        <result column="sys_id" property="sysId" />
        <result column="doctor_no" property="doctorNo" />
        <result column="user_id" property="userId" />
        <result column="doctor_name" property="doctorName" />
        <result column="head_image" property="headImage" />
        <result column="degrees" property="degrees" />
        <result column="star_count" property="starCount" />
        <result column="score" property="score" />
        <result column="focus_on" property="focusOn" />
        <result column="goodat" property="goodat" />
        <result column="content" property="content" />
        <result column="belong_office" property="belongOffice" />
        <result column="belong_province" property="belongProvince" />
        <result column="belong_city" property="belongCity" />
        <result column="belong_district" property="belongDistrict" />
        <result column="price_year" property="priceYear" />
        <result column="cellphone_no" property="cellphoneNo"/>
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_by" property="editBy" />
        <result column="sa" property="sa" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.SysDoctorVo" >
        <result column="user_id" property="userId" />
        <result column="doctor_no" property="doctorNo" />
        <result column="doctor_name" property="doctorName" />
        <result column="head_image" property="headImage" />
        <result column="degrees" property="degrees" />
        <result column="star_count" property="starCount" />
        <result column="score" property="score" />
        <result column="focus_on" property="focusOn" />
        <result column="goodat" property="goodat" />
        <result column="content" property="content" />
        <result column="institutionName" property="belongInstitution"/>
        <result column="department_name" property="belongOffice" />
        <result column="belong_province" property="belongProvince" />
        <result column="belong_city" property="belongCity" />
        <result column="belong_district" property="belongDistrict" />
        <result column="price_year" property="priceYear" />
        <result column="cellphone_no" property="cellphoneNo"/>
        <result column="job_title" property="jobTitle" />
        <result column="duties" property="duties" />
        <result column="introductions" property="introductions" />
        <result column="is_approved" property="isApproved" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="getDoctorByUdD0Map" type="com.annaru.upms.entity.SysDoctor" >
        <result column="sysId" property="sysId" />
        <result column="doctorNo" property="doctorNo" />
        <result column="userId" property="userId" />
        <result column="doctorName" property="doctorName" />
        <result column="headImage" property="headImage" />
        <result column="degrees" property="degrees" />
        <result column="starCount" property="starCount" />
        <result column="score" property="score" />
        <result column="focusOn" property="focusOn" />
        <result column="goodat" property="goodat" />
        <result column="content" property="content" />
        <result column="belongInstitution" property="belongInstitution" />
        <result column="belongOffice" property="belongOffice" />
        <result column="belongProvince" property="belongProvince" />
        <result column="belongCity" property="belongCity" />
        <result column="belongDistrict" property="belongDistrict" />
        <result column="priceYear" property="priceYear" />
        <result column="cellphoneNo" property="cellphoneNo"/>
        <result column="creationTime" property="creationTime" />
        <result column="editTime" property="editTime" />
        <result column="createBy" property="createBy" />
        <result column="editBy" property="editBy" />
        <result column="siName" property="siName" />
        <result column="departmentName" property="departmentName" />
        <result column="sa" property="sa" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMapVo">
        SELECT
        sd.belong_city,
        sd.belong_district,
        sd.belong_province,
        sd.cellphone_no,
        sd.content,
        sd.degrees,
        sd.doctor_name,
        sd.doctor_no,
        sd.duties,
        sd.focus_on,
        sd.goodat,
        sd.head_image,
        sd.introductions,
        sd.is_approved,
        sd.job_title,
        sd.price_year,
        sd.score,
        sd.star_count,
        si.`name` institutionName,
        sdp.department_name
        FROM
        sys_doctor sd
        LEFT JOIN sys_institution si ON sd.belong_institution = si.institution_id
        LEFT JOIN sys_department sdp ON sdp.sys_id = sd.belong_office
        WHERE
        sd.is_approved = 1
        <if test="params.province != null and params.province != ''">
            AND belong_province LIKE CONCAT('%', #{params.province}, '%')
        </if>
        <if test="params.city != null and params.city != ''">
            AND belong_city LIKE CONCAT('%', #{params.city}, '%')
        </if>
        <if test="params.district != null and params.district != ''">
            AND belong_district LIKE CONCAT('%', #{params.district}, '%')
        </if>
    </select>

    <select id="getOne" parameterType="map" resultMap="BaseResultMapVo">
        SELECT
        sd.user_id,
        sd.belong_city,
        sd.belong_district,
        sd.belong_province,
        sd.cellphone_no,
        sd.content,
        sd.degrees,
        sd.doctor_name,
        sd.doctor_no,
        sd.duties,
        sd.focus_on,
        sd.goodat,
        sd.head_image,
        sd.introductions,
        sd.is_approved,
        sd.job_title,
        sd.price_year,
        sd.score,
        sd.star_count,
        si.`name` institutionName,
        sdp.department_name
        FROM
        sys_doctor sd
        LEFT JOIN sys_institution si ON sd.belong_institution = si.institution_id
        LEFT JOIN sys_department sdp ON sdp.sys_id = sd.belong_office
        WHERE
            1 = 1
        <if test="params.doctorNo != null and params.doctorNo != ''">
            AND   doctor_no = #{params.doctorNo}
        </if>
    </select>

    <select id="getDoctor" parameterType="map" resultMap="BaseResultMap">
        SELECT
        doctor_no,
        user_id,
        doctor_name,
        head_image,
        degrees,
        star_count,
        score,
        focus_on,
        goodat,
        belong_office,
        belong_province,
        belong_city,
        belong_district,
        price_year
        FROM
        sys_doctor
        WHERE
        1 = 1
        <if test="params.doctorNo != null and params.doctorNo != ''">
            AND   doctor_no = #{params.doctorNo}
        </if>
        <if test="params.userId != null and params.userId != ''">
            AND   user_id = #{params.userId}
        </if>

    </select>


    <select id="selectByDoctorNoAndUserId" parameterType="map" resultMap="BaseResultMap">
        SELECT sd.*,(select count(*) from sys_appraisal c where c.user_id=#{userId} and c.reference_no=#{doctorNo}) as sa
        from sys_doctor as sd
        where sd.doctor_no=#{doctorNo}
    </select>

    <select id="getDoctorByUdD0" parameterType="java.lang.String" resultMap="getDoctorByUdD0Map">
        SELECT
            sd.sys_id sysId,
            sd.doctor_no doctorNo,
            sd.user_id userId,
            sd.doctor_name doctorName,
            sd.head_image headImage,
            sd.degrees,
            sd.star_count starCount,
            sd.score,
            sd.focus_on focusOn,
            sd.goodat,
            sd.content,
            sd.belong_institution belongInstitution,
            sd.belong_office belongOffice,
            sd.belong_province belongProvince,
            sd.belong_city belongCity,
            sd.belong_district belongDistrict,
            sd.price_year priceYear,
            sd.cellphone_no cellphoneNo,
            sd.job_title jobTitle,
            sd.duties,
            sd.introductions,
            sd.is_approved isApproved,
            sd.calc_method calcMethod,
            sd.commission_fee commissionFee,
            sd.creation_time creationTime,
            sd.edit_time editTime,
            sd.create_by createBy,
            sd.edit_by editBy,
            si.name siName,
            sdp.department_name departmentName
        FROM
            sys_doctor sd
        LEFT JOIN sys_institution si ON sd.belong_institution = si.institution_id
        LEFT JOIN sys_department sdp ON sdp.sys_id = sd.belong_office
        WHERE
        1 = 1
        <if test="doctorNo != null and doctorNo != ''">
            AND doctor_no = #{doctorNo}
        </if>
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
    </select>

</mapper>
