<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysDepartmentMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysDepartment" >
        <result column="sys_id" property="sysId" />
        <result column="department_name" property="departmentName" />
        <result column="frequent_used" property="frequentUsed" />
        <result column="creation_time" property="creationTime" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.SysDepartmentVo">
        <result column="department_name" property="departmentName"/>
        <result column="dep_parent_id" property="parentId"/>
        <collection property="subDepartments" ofType="com.annaru.upms.entity.vo.SysSubDepartmentVo">
            <result column="sub_name" property="subDepartmentName"/>
            <result column="sys_id" property="depSubId"/>
        </collection>
    </resultMap>

    <select id="getDepartmentCommonList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        sd.department_name,
        ssd.dep_parent_id,
        ssd.sys_id,
        ssd.department_name sub_name
        FROM
        sys_inst_dept_mapping sidm
        LEFT JOIN sys_department sd ON sidm.department_id = sd.sys_id
        LEFT JOIN sys_sub_department ssd ON ssd.dep_parent_id = sd.sys_id
        WHERE
        sidm.is_active = 1
        <if test="params.institutionId !=null and params.institutionId !='' ">
        and
        sidm.institution_id = #{params.institutionId}
        </if>
    </select>

    <select id="getFrequentUsedList" parameterType="map" resultMap="BaseResultMap">
        SELECT
	sd.department_name,
	sd.sys_id
        FROM
	sys_inst_dept_mapping sidm
        LEFT JOIN sys_department sd ON sidm.department_id = sd.sys_id
        WHERE
	sidm.is_active = 1
        AND sd.frequent_used = 1
        <if test="params.institutionId !=null and params.institutionId !='' ">
            and
            sidm.institution_id = #{params.institutionId}
        </if>
    </select>

</mapper>