<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysDoctorScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysDoctorSchedule" >
        <result column="sys_id" property="sysId" />
        <result column="doctor_nurse_no" property="doctorNurseNo" />
        <result column="user_cates" property="userCates" />
        <result column="date_from" property="dateFrom" />
        <result column="date_to" property="dateTo" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="is_active" property="isActive" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
        sys_id,
        user_cates,
        doctor_nurse_no,
        date_from,
        date_to,
        time_from,
        time_to,
        is_active,
        creation_time,
        edit_time
        FROM
        sys_doctor_schedule
        WHERE
        1=1
        <if test="params.doctorNurseNo != null and params.doctorNurseNo != ''">
            AND doctor_nurse_no LIKE CONCAT('%', #{params.doctorNurseNo}, '%')
        </if>
    </select>


    <select id="getDocSchedule" parameterType="map" resultMap="BaseResultMap">
        select sds.date_from,sds.date_to,sds.time_from,sds.time_to,sdo.is_active
        from sys_doctor_schedule sds
        left JOIN sys_doctor_oppointment sdo
        on sds.date_from = sdo.appoint_date
        where
        sds.is_active = 1
        <if test="params.doctorNurseNo != null and params.doctorNurseNo != ''">
            and doctor_nurse_no = #{params.doctorNurseNo}
        </if>
        order by sds.time_to
    </select>

    <!-- 医护端护士的排班-->
    <select id="selectDoctorScheduleList" parameterType="map" resultMap="BaseResultMap">
      SELECT
			date_from,-- 开始日期
			date_to, -- 结束日期
			time_from, --  开始时间
			time_to,	-- 结束时间
			is_active -- 是否排班
      FROM
		    sys_doctor_nurse_schedule
      WHERE
	        date_format(date_from,'%Y-%m')=date_format(#{dateFrom},'%Y-%m')
	  AND
	        doctor_nurse_no=#{doctorNurseNo}
    </select>


</mapper>
