<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysDoctorScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysDoctorSchedule" >
        <result column="sys_id" property="sysId" />
        <result column="doctor_nurse_no" property="doctorNurseNo" />
        <result column="user_cates" property="userCates" />
        <result column="date_from" property="dateFrom" />
        <result column="date_to" property="dateTo" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="is_active" property="isActive" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.DoctorScheduleVo" >
        <result column="date_from" property="dateFrom" />
        <collection property="scheduleTimeList" ofType="com.annaru.upms.entity.vo.DoctorScheduleTime">
            <result column="time_from" property="timeFrom" />
            <result column="time_to" property="timeTo" />
            <result column="is_active" property="isActive" />
        </collection>
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
        sys_id,
        user_cates,
        doctor_nurse_no,
        date_from,
        date_to,
        time_from,
        time_to,
        is_active,
        creation_time,
        edit_time
        FROM
        sys_doctor_schedule
        WHERE
        1=1
        <if test="params.doctorNurseNo != null and params.doctorNurseNo != ''">
            AND doctor_nurse_no LIKE CONCAT('%', #{params.doctorNurseNo}, '%')
        </if>
    </select>


    <select id="getDocSchedule" parameterType="map" resultMap="BaseResultMapVo">
        SELECT
        date_from,
        time_from,
        time_to,
        is_active
        FROM
        sys_doctor_nurse_schedule
        WHERE
        state = 2
        <if test="params.doctorNo != null and params.doctorNo != ''">
        and doctor_nurse_no = #{params.doctorNo}
        </if>
        ORDER BY
        date_from,
        time_to
    </select>

    <!-- 医护端护士的排班-->
    <select id="selectDoctorScheduleList" parameterType="map" resultMap="BaseResultMap">
      SELECT
			date_from,-- 开始日期
			date_to, -- 结束日期
			time_from, --  开始时间
			time_to,	-- 结束时间
			is_active -- 是否排班
      FROM
		    sys_doctor_nurse_schedule
      WHERE
	        date_format(date_from,'%Y-%m')=date_format(#{dateFrom},'%Y-%m')
	  AND
	        doctor_nurse_no=#{doctorNurseNo}
    </select>


    <!--删除护士的排班 wh-->
    <update id="deleteNurseSchedule">
        update sys_doctor_nurse_schedule set is_deleted=1
        where sys_id=#{sysId}
   </update>

    <!--查询护士某天预约的次数 wh-->
    <select id="selectNurseSchedule" parameterType="map" resultType="int">
        SELECT count(*) FROM sys_doctor_nurse_schedule
        WHERE doctor_nurse_no = #{params.nurseNo}  AND date_from=#{params.dateFrom}
    </select>

    <!--添加护士的排班 wh-->
    <insert id="insertNuserSchedule">
        insert into sys_doctor_nurse_schedule (user_cates,doctor_nurse_no,date_from,creation_time,time_from,time_to)
        values (#{userCates},#{doctorNurseNo},#{dateFrom},#{creationTime},#{timeFrom},#{timeTo})
    </insert>


    <update id="updateSceduleStatus" parameterType="map">
                UPDATE
                sys_doctor_nurse_schedule
                SET
                is_active=1
                WHERE
                TO_DAYS(date_from)=TO_DAYS(#{params.appointDate})
                and time_from=#{params.timeFrom}
                and time_to=#{params.timeTo}
                and doctor_nurse_no=#{params.doctorNo}
    </update>


</mapper>
