<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysLinkageTypeMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysLinkageType" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="nid" property="nid" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.SysLinkageTypeVo" >
        <result column="name" property="name" />
        <result column="nid" property="nid" />
        <result column="is_must" property="isMust" />
        <result column="check_option" property="checkOption" />
        <result column="need_input" property="needInput" />
        <collection property="linkageList" ofType="com.annaru.upms.entity.vo.SysLinkageVo">
            <result column="seqno" property="seqno"/>
            <result column="answers" property="name"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
              id,
              name,
              nid
        FROM
            sys_linkage_type
        <where>
            <if test="params.name != null and params.name != ''">
                AND name LIKE CONCAT('%', #{params.name}, '%')
            </if>
        </where>
    </select>

    <select id="getList" parameterType="map" resultMap="BaseResultMapVo">
        SELECT
        slt.name,slt.nid,is_must,check_option,need_input,sl.name answers,sl.seqno,value
        FROM
        sys_linkage_type slt
        LEFT JOIN sys_linkage sl on slt.id = sl.type_id
        WHERE slt.nid LIKE CONCAT('%', #{params.type}, '%')
        and sl.is_active = 1
        ORDER BY MID(slt.nid,2,10) +1,seqno
    </select>

</mapper>
