<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysMessageMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysMessage" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="order_no" property="orderNo" />
        <result column="msg_cate" property="msgCate" />
        <result column="business_cate" property="businessCate" />
        <result column="content" property="content" />
        <result column="is_read" property="isRead" />
        <result column="creation_time" property="creationTime" />
        <result column="read_time" property="readTime" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
            sm.*
        FROM  sys_message as sm
        LEFT JOIN sys_doctor as sd ON sd.user_id=sm.user_id
        LEFT JOIN sys_nurse as sn ON sn.user_id=sm.user_id
        <where>
             (sd.user_id=#{params.userId} or sn.user_id=#{params.userId} or sm.user_id=#{params.userId})
            <if test="params.msgCate != null and params.msgCate != ''">
                AND  sm.msg_cate=#{params.msgCate} ORDER BY creation_time DESC
            </if>
        </where>
    </select>
        <!--已读-->
    <update id="updateSysMessageIsRead">
        update sys_message set is_read=1,read_time=now() where sys_id=#{sysId}
    </update>
    <!--清空-->
    <update id="updateSysMessageIsDeleted">
        update sys_message set is_deleted=1 where user_id=#{userId}
    </update>

</mapper>
