<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysMessageMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysMessage" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="msg_cate" property="msgCate" />
        <result column="content" property="content" />
        <result column="is_read" property="isRead" />
        <result column="creation_time" property="creationTime" />
        <result column="read_time" property="readTime" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              sys_id,
              user_id,
              msg_cate,
              content,
              is_read,
              creation_time,
              read_time
        FROM
            sys_message
        <where>
            <if test="params.userId != null and params.userId != ''">
                AND user_id LIKE CONCAT('%', #{params.userId}, '%')
            </if>
        </where>
    </select>


    <!-- 通过当前用户的消息类别查看消息-->
    <select id="selectMsgByMsgCate" parameterType="map" resultMap="BaseResultMap">
        select
              content,
              creation_time
        from
              sys_message
        where
              msg_cate=#{params.msgCate}
        and   user_id=#{params.userId}
    </select>


</mapper>
