<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysProvinceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysProvince" >
        <result column="ID" property="id" />
        <result column="Provinceid" property="provinceid" />
        <result column="Province" property="province" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.SysProvinceVo" >
        <result column="ID" property="id" />
        <result column="Provinceid" property="provinceid" />
        <result column="Province" property="province" />
        <collection property="sysCityList" ofType="com.annaru.upms.entity.SysCity">
            <result column="CityID" property="cityid" />
            <result column="City" property="city" />
        </collection>
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              ID,
              Provinceid,
              Province
        FROM
            sys_province
    </select>

    <select id="getlistAll" resultMap="BaseResultMapVo">
        SELECT
        sp.Province,sp.Provinceid,sc.City,sc.CityID
        FROM
        sys_province sp
        LEFT JOIN
        sys_city sc
        on
        sp.Provinceid = sc.ProvinceID
    </select>

</mapper>