<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysProvinceMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysProvince" >
        <result column="sys_id" property="sysId" />
        <result column="province_id" property="provinceId" />
        <result column="province" property="province" />
    </resultMap>


    <resultMap id="BaseResultMapVo" type="com.annaru.upms.entity.vo.SysProvinceVo" >
        <result column="province_id" property="provinceId" />
        <result column="province" property="province" />
        <collection property="sysCityList" ofType="com.annaru.upms.entity.vo.SysCityVo">
            <result column="city_id" property="cityId" />
            <result column="city" property="city" />
            <collection property="districtList" ofType="com.annaru.upms.entity.vo.SysDistrictVo">
                <result column="district_name" property="districtName" />
                <result column="district_id" property="districtId"/>
                <collection property="streets" ofType="com.annaru.upms.entity.SysStreet">
                    <result column="street_id" property="streetId"/>
                    <result column="street_name" property="streetName"/>
                    <result column="longitude" property="longitude"/>
                    <result column="latitude" property="latitude"/>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
              sys_id,
              province_id,
              province
        FROM
            sys_province
        WHERE
            status=0
            <if test="params.key != null and params.key != ''">
                AND key LIKE CONCAT('%', #{params.key}, '%')
            </if>
    </select>

    <select id="getlistAll" resultMap="BaseResultMapVo">
            SELECT
            	sp.province,
            	sp.province_id,
            	sc.city,
            	sc.city_id,
            	sd.district_name,
            	sd.district_id,
            	ss.street_name,
            	ss.street_id,
            	ss.longitude,
            	ss.latitude
            FROM
            	sys_province sp
            LEFT JOIN sys_city sc ON sp.province_id = sc.province_id
            LEFT JOIN sys_district sd ON sd.city_id = sc.city_id
            LEFT JOIN sys_street ss ON sd.district_id = ss.district_id
    </select>

</mapper>