<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.SysVerifyDocsMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.SysVerifyDocs" >
        <result column="sys_id" property="sysId" />
        <result column="cates" property="cates" />
        <result column="doc_cates" property="docCates" />
        <result column="images" property="images" />
        <result column="full_name" property="fullName" />
        <result column="id_no" property="idNo" />
        <result column="creation_time" property="creationTime" />
        <result column="create_by" property="createBy" />
        <result column="is_approved" property="isApproved" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap id="rowVo" type="com.annaru.upms.entity.vo.SysVerifyDocsVoZ" >
        <result column="user_id" property="userId" />
        <result column="nurse_name" property="nurseName" />
        <result column="id_card_no" property="idCardNo" />
        <result column="name" property="belongHospital" />
        <result column="department_name" property="belongOffice" />
        <result column="job_title" property="jobTitle" />
    </resultMap>
    <resultMap id="rowVo2" type="com.annaru.upms.entity.vo.SysVerifyDocsVoZ" >
        <result column="user_id" property="userId" />
        <result column="doctor_name" property="nurseName" />
        <result column="id_card_no" property="idCardNo" />
        <result column="name" property="belongHospital" />
        <result column="department_name" property="belongOffice" />
        <result column="job_title" property="jobTitle" />
    </resultMap>

    <sql id="BaseClounmSql">
          sys_id,
          related_no,
          cates,
          doc_cates,
          images,
          full_name，
          id_no,
          creation_time,
          create_by,
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            sys_verify_docs

    </select>
    <select id="selectVerNurse" resultMap="rowVo">
        select a.nurse_name,b.id_card_no,c.name,d.department_name,a.job_title from sys_nurse a
        INNER JOIN user_basic b on a.user_id = b.user_id
        INNER JOIN sys_institution c on a.belong_hospital = c.institution_id
        INNER JOIN sys_department d on a.belong_office = d.sys_id
        where a.user_id = #{userId}
    </select>
    <select id="selectVerDoctor" resultMap="rowVo2">
        select a.doctor_name,b.id_card_no,c.name,d.department_name,a.job_title from sys_doctor a
        INNER JOIN user_basic b on a.user_id = b.user_id
        INNER JOIN sys_institution c on a.belong_institution = c.institution_id
        INNER JOIN sys_department d on a.belong_office = d.sys_id
        where a.user_id = #{userId}
    </select>


    <!--用户实名认证-->
    <select id="saveUserVerify" parameterType="com.annaru.upms.entity.SysVerifyDocs">
        insert into sys_verify_docs
                (user_id,doc_cates,images,full_name,id_no,creation_time)
        VALUES
                (#{userId},#{docCates},#{images},#{fullName},#{idNo},#{creationTime})
    </select>

    <!--用户实名认证结果查询-->
    <select id="selectResult" parameterType="string" resultMap="BaseResultMap">
        select  * from sys_verify_docs where user_id=#{userId}
    </select>
</mapper>
