<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.TbLisReportMapper">
	<!-- 通用查询映射结果 tb_lis_report(实验室检验报告表)  -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.medical.TbLisReport" >
        <result column="CSID" property="csid" />
        <result column="YLJGDM" property="yljgdm" />
        <result column="BGDH" property="bgdh" />
        <result column="BGRQ" property="bgrq" />
        <result column="JZLSH" property="jzlsh" />
        <result column="MZZYBZ" property="mzzybz" />
        <result column="KH" property="kh" />
        <result column="KLX" property="klx" />
        <result column="BRXM" property="brxm" />
        <result column="BRXB" property="brxb" />
        <result column="BRNL" property="brnl" />
        <result column="SQRGH" property="sqrgh" />
        <result column="SQRXM" property="sqrxm" />
        <result column="BGRGH" property="bgrgh" />
        <result column="BGRXM" property="bgrxm" />
        <result column="SHRGH" property="shrgh" />
        <result column="SHRXM" property="shrxm" />
        <result column="SQKS" property="sqks" />
        <result column="BQ" property="bq" />
        <result column="CH" property="ch" />
        <result column="DYRQ" property="dyrq" />
        <result column="SQRQ" property="sqrq" />
        <result column="CJRQ" property="cjrq" />
        <result column="JYRQ" property="jyrq" />
        <result column="BGBZ" property="bgbz" />
        <result column="BBDM" property="bbdm" />
        <result column="BBMC" property="bbmc" />
        <result column="BGDLBBM" property="bgdlbbm" />
        <result column="BGDLB" property="bgdlb" />
        <result column="WJLJ" property="wjlj" />
        <result column="XGBZ" property="xgbz" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询映射结果 查询实验室检验报告列表)  -->
    <resultMap id="BaseResultMapList" type="com.annaru.upms.entity.medical.vo.TbLisReportListVo" >
        <result column="CSID" property="csid" />
        <result column="JZLSH" property="jzlsh" />
        <result column="BGDH" property="bgdh" />
        <result column="HOSPITAL_NAME" property="hospitalName" />
        <result column="JYRQ" property="jyrq" />
        <result column="BGDLB" property="bgdlb" />
        <result column="MZZYBZ" property="mzzybz" />
    </resultMap>

    <!-- 通用查询映射结果 根据就诊流水号查询检验报告)  -->
    <resultMap id="BaseResultMapDetail" type="com.annaru.upms.entity.medical.vo.TbLisReportDetailVo" >
        <result column="HOSPITAL_NAME" property="hospitalName" />
        <result column="JZKSMC" property="jzksmc" />
        <result column="JYRQ" property="jyrq" />
        <result column="MZZYBZ" property="mzzybz" />
        <result column="BRXM" property="brxm" />
        <result column="BRXB" property="brxb" />
        <result column="BRNL" property="brnl" />
        <result column="BGDLB" property="bgdlb" />
    </resultMap>

    <!-- 根据原主键获取对象 -->
    <select id="getLisReport" parameterType="map" resultMap="BaseResultMap">
      SELECT
        *
       FROM
        TB_LIS_REPORT
       WHERE YLJGDM=#{yljgdm} AND BGDH=#{bgdh} AND BGRQ=#{bgrq}
    </select>

    <!-- 根据卡号分页查询检验报告 -->
    <select id="getJybgPage" parameterType="map" resultMap="BaseResultMapList">
        SELECT
        r.CSID,
        r.JZLSH,
        r.BGDH,
        h.HOSPITAL_NAME,
        r.BGDLB,
        SUBSTR (r.JYRQ, 0, 10) AS JYRQ,
        r.mzzybz
        FROM TB_LIS_Report r
        LEFT JOIN TB_HOSPITAL h ON r.YLJGDM = h.HOSPITAL_ID
        WHERE
        <if test="params.kh != null and params.kh != ''">
            r.KH =  #{params.kh}
        </if>
        <if test="params.dateFrom != null and params.dateFrom != '' and params.dateTo != null and params.dateTo != ''">
            AND to_date(SUBSTR(r.JYRQ, 0, 10),'yyyy-mm-dd') Between to_date(#{params.dateFrom},'yyyy-mm-dd') AND to_date(#{params.dateTo},'yyyy-mm-dd')
        </if>
        ORDER BY r.JYRQ DESC
    </select>

    <!-- 根据卡号查询检验报告 -->
    <select id="getJybg" parameterType="map" resultMap="BaseResultMapList">
     SELECT
        r.CSID,
        r.JZLSH,
        r.BGDH,
        h.HOSPITAL_NAME,
        r.BGDLB,
        SUBSTR (r.JYRQ, 0, 10) AS JYRQ,
        r.MZZYBZ
     FROM
        TB_LIS_Report r,
        TB_HOSPITAL h
     WHERE
	    r.YLJGDM = h.HOSPITAL_ID AND r.KH = #{kh} ORDER BY JYRQ DESC
    </select>

    <!-- 根据就诊流水号查询检验报告 -->
    <select id="getJybgByJzlsh" parameterType="map" resultMap="BaseResultMapList">
    SELECT
        r.CSID,
        r.BGDH,
        r.JZLSH,
        r.JYRQ,
        h.HOSPITAL_NAME,
        r.bgdlb,
        r.MZZYBZ
    FROM
        TB_LIS_Report r,
        TB_HOSPITAL h
    WHERE
        r.YLJGDM = h.HOSPITAL_ID AND r.JZLSH = #{jzlsh}
    </select>

    <!-- 根据就诊流水号和报告单号查询检验报告 -->
    <select id="getJybgByJzlshAndBgdh" parameterType="map" resultMap="BaseResultMapDetail">
       SELECT
        h.HOSPITAL_NAME,
         r.JZKSMC,
        SUBSTR (lr.JYRQ, 0, 10) AS JYRQ,
        lr.MZZYBZ,
        lr.BRXM,
        lr.BRXB,
        lr.BRNL,
        lr.BGDLB
    FROM
        TB_YL_MZ_Medical_Record r
    LEFT JOIN TB_HOSPITAL h ON r.YLJGDM = h.HOSPITAL_ID
		LEFT JOIN TB_LIS_REPORT lr ON lr.JZLSH = r.JZLSH
    WHERE lr.JZLSH = #{jzlsh} AND lr.BGDH = #{bgdh}
    </select>

    <!-- 根据报告单号查询检验报告 -->
    <select id="getJybgByBgdh" parameterType="map" resultMap="BaseResultMapDetail">
    SELECT
        r.BGDH,
        r.JZLSH,
        r.JYRQ,
        h.HOSPITAL_NAME,
        r.BGDLB
    FROM
        TB_LIS_Report r,
        TB_HOSPITAL h
    WHERE
        r.YLJGDM = h.HOSPITAL_ID AND r.BGDH = #{bgdh}
    </select>
</mapper>
