<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.TbRisReportMapper">
	<!-- 通用查询映射结果 tb_ris_report(影像检查报告表—放射类格式)  -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.medical.TbRisReport" >
        <result column="CSID" property="csid" />
        <result column="STUDYUID" property="studyuid" />
        <result column="INSTANCEUID" property="instanceuid" />
        <result column="YLJGDM" property="yljgdm" />
        <result column="JZLSH" property="jzlsh" />
        <result column="MZZYBZ" property="mzzybz" />
        <result column="KH" property="kh" />
        <result column="KLX" property="klx" />
        <result column="BRXM" property="brxm" />
        <result column="BRXB" property="brxb" />
        <result column="PATIENTID" property="patientid" />
        <result column="JCXMDM" property="jcxmdm" />
        <result column="JCXMDMYB" property="jcxmdmyb" />
        <result column="SQDH" property="sqdh" />
        <result column="KDSJ" property="kdsj" />
        <result column="JYSJ" property="jysj" />
        <result column="EXAMTYPE" property="examtype" />
        <result column="SBBM" property="sbbm" />
        <result column="YQBM" property="yqbm" />
        <result column="SQKS" property="sqks" />
        <result column="SQRGH" property="sqrgh" />
        <result column="SQRXM" property="sqrxm" />
        <result column="JCKS" property="jcks" />
        <result column="JCYS" property="jcys" />
        <result column="JCYSGH" property="jcysgh" />
        <result column="BGRQ" property="bgrq" />
        <result column="BGSJ" property="bgsj" />
        <result column="BGRGH" property="bgrgh" />
        <result column="BGRXM" property="bgrxm" />
        <result column="SHRGH" property="shrgh" />
        <result column="SHRXM" property="shrxm" />
        <result column="JCBW" property="jcbw" />
        <result column="JCFF" property="jcff" />
        <result column="BWACR" property="bwacr" />
        <result column="JCMC" property="jcmc" />
        <result column="YYS" property="yys" />
        <result column="BGLCZD" property="bglczd" />
        <result column="YXBX" property="yxbx" />
        <result column="YXZD" property="yxzd" />
        <result column="BZHJY" property="bzhjy" />
        <result column="SFYYY" property="sfyyy" />
        <result column="XGBZ" property="xgbz" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询映射结果 查询检查报告列表  -->
    <resultMap id="BaseResultMapList" type="com.annaru.upms.entity.medical.vo.TbRisReportListVo" >
        <result column="CSID" property="csid" />
        <result column="HOSPITAL_NAME" property="hospitalName" />
        <result column="JYSJ" property="jysj" />
        <result column="JCMC" property="jcmc" />
        <result column="MZZYBZ" property="mzzybz" />
        <result column="YXZD" property="yxzd" />
    </resultMap>

    <!-- 通用查询映射结果 查询检查报告详情  -->
    <resultMap id="BaseResultMapDetail" type="com.annaru.upms.entity.medical.vo.TbRisReportDetailVo" >
        <result column="HOSPITAL_NAME" property="hospitalName" />
        <result column="JZKSMC" property="jzksmc" />
        <result column="JYSJ" property="jysj" />
        <result column="MZZYBZ" property="mzzybz" />
        <result column="BRXM" property="brxm" />
        <result column="BRXB" property="brxb" />
        <result column="BRNL" property="brnl" />
        <result column="JCMC" property="jcmc" />
        <result column="YXZD" property="yxzd" />
    </resultMap>

    <!-- 根据原主键获取对象 -->
    <select id="getRisReport" parameterType="map" resultMap="BaseResultMap">
      SELECT
        *
       FROM
        TB_RIS_REPORT
       WHERE YLJGDM=#{yljgdm} AND STUDYUID=#{studyuid} AND INSTANCEUID=#{instanceuid}
    </select>

    <!-- 根据卡号分页查询影像报告 -->
    <select id="getYxbgPage" parameterType="map" resultMap="BaseResultMapList">
        SELECT
        r.CSID,
        h.HOSPITAL_NAME,
        SUBSTR (r.JYSJ, 0, 10) AS JYSJ,
        r.JCMC,
        r.MZZYBZ,
        r.YXZD
        FROM TB_RIS_REPORT r
        LEFT JOIN TB_HOSPITAL h ON r.YLJGDM = h.HOSPITAL_ID
        WHERE
        <if test="params.kh != null and params.kh != ''">
            r.KH =  #{params.kh}
        </if>
        <if test="params.dateFrom != null and params.dateFrom != '' and params.dateTo != null and params.dateTo != ''">
            AND to_date(SUBSTR(r.JYSJ, 0, 10),'yyyy-mm-dd') Between to_date(#{params.dateFrom},'yyyy-mm-dd') AND to_date(#{params.dateTo},'yyyy-mm-dd')
        </if>
        ORDER BY JYSJ DESC
    </select>

    <!-- 根据卡号查询影像报告 -->
    <select id="getYxbg" parameterType="map" resultMap="BaseResultMapList">
    SELECT
        r.CSID,
        h.HOSPITAL_NAME,
        SUBSTR (r.JYSJ, 0, 10) AS JYSJ,
        r.JCMC,
        r.MZZYBZ,
        r.YXZD
    FROM TB_RIS_REPORT r
    LEFT JOIN TB_HOSPITAL h ON r.YLJGDM = h.HOSPITAL_ID
    WHERE r.KH = #{kh} ORDER BY JYSJ DESC
    </select>

    <!-- 根据影像检查报告ID查询影像报告 -->
    <select id="getYxbgDetail" parameterType="map" resultMap="BaseResultMapDetail">
       SELECT
        h.HOSPITAL_NAME,
		r.JZKSMC,
        SUBSTR (rr.JYSJ, 0, 10) AS JYSJ,
        rr.MZZYBZ,
        rr.BRXM,
        rr.BRXB,
		trunc((to_char(sysdate,'yyyyMMdd')-to_char(to_date(substr(rr.KH,7,8),'yyyy-MM-dd'),'yyyyMMdd'))/10000) BRNL,
        rr.JCMC,
        rr.YXZD
    FROM
        TB_YL_MZ_Medical_Record r
        LEFT JOIN TB_HOSPITAL h ON r.YLJGDM = h.HOSPITAL_ID
        LEFT JOIN TB_RIS_REPORT rr ON rr.JZLSH = r.JZLSH
    WHERE rr.CSID = #{csid}
    </select>

    <!-- 根据就诊流水号查询影像报告 -->
    <select id="getYxbgByJzlsh" parameterType="map" resultMap="BaseResultMapList">
    SELECT
        r.CSID,
        SUBSTR (r.JYSJ, 0, 10) AS JYSJ,
        h.HOSPITAL_NAME,
        r.JCMC,
        r.MZZYBZ,
        r.YXZD
    FROM
        TB_RIS_REPORT r,
        TB_HOSPITAL h
    WHERE
        h.HOSPITAL_ID = r.YLJGDM AND r.JZLSH = #{jzlsh}
    </select>

</mapper>
