<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.UserEntityMappingMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.UserEntityMapping" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="entity_id" property="entityId" />
        <result column="is_active" property="isActive" />
        <result column="creation_time" property="creationTime" />
        <result column="createby" property="createby" />
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.UserBasicVo" >
        <id column="user_id" property="userId" />
        <result column="entity_id" property="entityId" />
        <result column="full_name" property="fullName" />
        <result column="user_gender" property="userGender"/>
        <result column="user_age" property="userAge"/>
        <result column="user_card_no" property="userCardNo"/>
        <result column="user_id_card_no" property="userIdCardNo"/>
        <result column="user_cellphone_no" property="userCellphoneNo"/>
        <result column="entity_name" property="entityName" />

        <collection property="userRelativesVo" ofType="com.annaru.upms.entity.vo.UserRelativesVo">
                <id column="ref_no" property="refNo" />
                <result column="relative_name" property="relativeName"/>
                <result column="relative_gender" property="relativeGender"/>
                <result column="relative_age" property="relativeAge"/>
                <result column="relative_card_no" property="relativeCardNo"/>
                <result column="relative_id_card_no" property="relativeIdCardNo"/>
                <result column="relative_cellphone_no" property="relativeCellphoneNo"/>
                <result column="remark" property="remark"/>
        </collection>

    </resultMap>

    <resultMap id="getEntityPurchseMainVoZBase" type="com.annaru.upms.entity.vo.EntityPurchseMainVoZ" >
        <result column="entityNo" property="entityNo" />
        <result column="userId" property="userId" />
        <result column="supplier" property="supplier" />
        <result column="logoUrl" property="logoUrl" />

        <collection property="entityEhmDesrList" ofType="com.annaru.upms.entity.vo.EntityEhmDesr">
            <result column="ehmDesr" property="ehmDesr" />

            <collection property="entityPurchseMainDeatailVoZList" ofType="com.annaru.upms.entity.vo.EntityPurchseMainDeatailVoZ">
                <result column="ehpDesr" property="ehpDesr" />
                <result column="introductions" property="introductions" />
                <result column="counts" property="counts" />
                <result column="perYear" property="perYear" />
            </collection>
        </collection>

    </resultMap>

    <sql id="BaseClounmSql">
          sys_id,
          user_id,
          entity_id,
          is_active,
          creation_time,
          createby,
    </sql>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
            <include refid="BaseClounmSql"></include>
        FROM
            user_entity_mapping

    </select>

    <!-- 选择预约人时查询企业用户及亲属列表-->
    <select id="selectUserAndRelativeInfoByUserId" parameterType="String" resultMap="BaseResultMap1">
        SELECT
        ub.user_id,
        ub.full_name,
        ub.cellphone_no as user_cellphone_no,
        ub.id_card_no as user_id_card_no,
        ub.gender AS user_gender,
        TIMESTAMPDIFF(YEAR, ub.date_of_birth, CURDATE()) AS user_age,
        uc.card_no as user_card_no,

        ur.ref_no,
        ur.relative_name,
        ur.cellphone_no as relative_cellphone_no,
        ur.id_card_no as relative_id_card_no,
        ur.gender AS relative_gender,
        TIMESTAMPDIFF(YEAR, ur.date_of_birth, CURDATE()) AS relative_age,
        uc.card_no as relative_card_no,
        ur.remark,
        se.entity_id,
        se.entity_name
        FROM user_entity_mapping uem
        LEFT JOIN sys_entity se ON se.entity_id = uem.entity_id
        LEFT JOIN user_basic ub ON ub.user_id = uem.user_id
        LEFT JOIN user_relatives ur ON ur.user_id = uem.user_id
        LEFT JOIN user_cards as uc ON uc.user_id=ub.user_id
        where
        <if test="userId != null and userId != ''">
            uem.user_id=#{userId}
        </if>
    </select>

    <select id="getEntityPurchseMainVoZ" parameterType="java.lang.String" resultMap="getEntityPurchseMainVoZBase">
        SELECT
            uem.entity_id entityNo, uem.user_id userId,
            ehs.supplier, ehs.logo_url logoUrl,
            ehm.descr ehmDesr,
            ehp.descr ehpDesr, ehp.introductions, ehp.counts, ehp.per_year perYear
        FROM
        user_entity_mapping uem
        LEFT JOIN entity_purchse_main epm ON epm.entity_no = uem.entity_id
        LEFT JOIN entity_purchse_detail epd ON epd.order_no = epm.order_no
        LEFT JOIN entity_healthy_package_main ehm ON ehm.sys_id = epd.pkg_main_id
        LEFT JOIN entity_healthy_package_detail ehp ON ehp.main_id = ehm.sys_id
        LEFT JOIN entity_healthy_supplier ehs ON ehs.sys_id = ehm.supplier_id
        WHERE 1 = 1
        AND uem.is_active = 1
        AND epm.is_active = 1 AND epm.is_terminated = 0
        AND epd.is_active = 1 AND epd.is_deleted = 0
        AND ehp.is_active = 1
        <if test="userId != null and userId != ''">
            AND uem.user_id = #{userId}
        </if>
    </select>

</mapper>
