<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.UserCardsMapper">
	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.UserCards" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="card_cates" property="cardCates" />
        <result column="card_no" property="cardNo" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="creation_time" property="creationTime" />
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.vo.UserCardInfoVo" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="card_cates" property="cardCates" />
        <result column="card_no" property="cardNo" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="full_name" property="fullName" />
        <result column="user_gender" property="userGender"/>
        <result column="user_age" property="userAge"/>
        <result column="user_id_card_no" property="userIdCardNo"/>
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="creation_time" property="creationTime" />
    </resultMap>

    <!--通过用户编号修改个人信息和医保卡号-->
    <resultMap id="CardAndBasic" type="com.annaru.upms.entity.vo.UserCardVo" >
        <result column="card_no" property="cardNo" />
        <result column="full_name" property="fullName" />
        <result column="id_card_no" property="idCardNo" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="gender" property="gender" />
    </resultMap>

    <!--用户授权信息-->
    <resultMap id="Authorization" type="com.annaru.upms.entity.INTERFACE_AUTHORIZATION" >
        <result column="CSID" property="csid" />
        <result column="USER_ID" property="user_id" />
        <result column="USER_NAME" property="user_name" />
        <result column="AUTHORIZATION" property="authorization" />
        <result column="UPDATE_DATE" property="update_date" />
        <result column="XGBZ" property="xgbz" />
        <result column="PUSH_STATE" property="push_state" />
    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
              sys_id,
              user_id,
              card_cates,
              card_no,
              cellphone_no,
              status,
              remark,
              creation_time
        FROM
            user_cards
        <where>
            <if test="params.userId != null and params.userId != ''">
                AND user_id LIKE CONCAT('%', #{params.userId}, '%')
            </if>
        </where>
    </select>

    <!-- 通过已绑卡查询 -->
    <select id="selectByStatus" parameterType="map" resultMap="BaseResultMap">
        select
              user_id,
              cellphone_no,
              card_cates,
              status,
              card_no
        from user_cards where  user_id=#{userId}
    </select>

    <!-- 查询企业门诊绿通预约人信息 -->
    <select id="getGreenPassUserInfo" parameterType="map" resultMap="BaseResultMap1">
        SELECT
        uc.user_id,
        ub.full_name,
        ub.gender AS user_gender,
        ub.id_card_no AS user_id_card_no,
        ur.relative_id,
        ur.relative_name,
        ur.gender AS relative_gender,
        ur.id_card_no AS relative_id_card_no,
        uc.card_cates,
        uc.card_no,
        uc.cellphone_no
        FROM user_cards uc
	LEFT JOIN user_basic ub ON ub.user_id = uc.user_id
	LEFT JOIN user_relatives ur ON ur.relative_id = uc.user_id
	WHERE
        <if test="userId != null and userId != ''">
            uc.user_id=#{userId}
        </if>
    </select>

    <!-- 修改医保卡-->
    <update id="updateCardAndBasic">
        UPDATE user_cards set card_no=#{cardNo} WHERE user_id=#{userId}
    </update>

    <!-- 用户授权信息 -->
    <select id="selectByUserId" parameterType="map" resultMap="Authorization">
       SELECT ia.USER_ID FROM TB_INTERFACE_AUTHORIZATION ia WHERE ia.USER_ID=#{userId}
    </select>
</mapper>
