<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annaru.upms.mapper.UserBasicMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.annaru.upms.entity.UserBasic" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="chinese_spell" property="chineseSpell" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="password" property="password" />
        <result column="id_card_no" property="idCardNo" />
        <result column="origin_province" property="originProvince" />
        <result column="origin_city" property="originCity" />
        <result column="residence_province" property="residenceProvince" />
        <result column="residence_city" property="residenceCity" />
        <result column="occupation" property="occupation" />
        <result column="gender" property="gender" />
        <result column="date_of_birth" property="dateOfBirth" />
        <result column="head_image" property="headImage" />
        <result column="isactive" property="isactive" />
        <result column="last_logintime" property="lastLogintime" />
        <result column="registration_time" property="registrationTime" />
        <result column="is_verified" property="isVerified" />
        <result column="email_address" property="emailAddress" />
        <result column="creation_time" property="creationTime" />
        <result column="is_hr" property="isHr" />

     </resultMap>

    <!-- 通用查询映射结果 UserBasicVoZ -->
    <resultMap id="BaseResultMapVoZ" type="com.annaru.upms.entity.UserBasic" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="chinese_spell" property="chineseSpell" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="password" property="password" />
        <result column="id_card_no" property="idCardNo" />
        <result column="origin_province" property="originProvince" />
        <result column="origin_city" property="originCity" />
        <result column="residence_province" property="residenceProvince" />
        <result column="residence_city" property="residenceCity" />
        <result column="occupation" property="occupation" />
        <result column="gender" property="gender" />
        <result column="date_of_birth" property="dateOfBirth" />
        <result column="head_image" property="headImage" />
        <result column="isactive" property="isactive" />
        <result column="last_logintime" property="lastLogintime" />
        <result column="registration_time" property="registrationTime" />
        <result column="is_verified" property="isVerified" />
        <result column="email_address" property="emailAddress" />
        <result column="creation_time" property="creationTime" />
        <result column="openid" property="openid" />
        <result column="is_hr" property="isHr" />
        <result column="cardNo" property="cardNo" />
        <result column="entity_id" property="entityId" />
        <result column="entity_name" property="entityName" />
    </resultMap>

    <!-- 通用查询映射结果 UserBasicVoZ -->
    <resultMap id="BaseResultMap1" type="com.annaru.upms.entity.UserBasic" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="chinese_spell" property="chineseSpell" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="password" property="password" />
        <result column="id_card_no" property="idCardNo" />
        <result column="origin_province" property="originProvince" />
        <result column="origin_city" property="originCity" />
        <result column="residence_province" property="residenceProvince" />
        <result column="residence_city" property="residenceCity" />
        <result column="occupation" property="occupation" />
        <result column="gender" property="gender" />
        <result column="date_of_birth" property="dateOfBirth" />
        <result column="head_image" property="headImage" />
        <result column="isactive" property="isactive" />
        <result column="last_logintime" property="lastLogintime" />
        <result column="registration_time" property="registrationTime" />
        <result column="is_verified" property="isVerified" />
        <result column="email_address" property="emailAddress" />
        <result column="creation_time" property="creationTime" />
        <result column="openid" property="openid" />

        <association property="sysDoctor" column="user_id" javaType="com.annaru.upms.entity.SysDoctor" resultMap="SysDoctorBaseResultMap" />

    </resultMap>

    <resultMap id="BaseResultMap2" type="com.annaru.upms.entity.UserBasic" >
        <result column="sys_id" property="sysId" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="chinese_spell" property="chineseSpell" />
        <result column="cellphone_no" property="cellphoneNo" />
        <result column="password" property="password" />
        <result column="id_card_no" property="idCardNo" />
        <result column="origin_province" property="originProvince" />
        <result column="origin_city" property="originCity" />
        <result column="residence_province" property="residenceProvince" />
        <result column="residence_city" property="residenceCity" />
        <result column="occupation" property="occupation" />
        <result column="gender" property="gender" />
        <result column="date_of_birth" property="dateOfBirth" />
        <result column="head_image" property="headImage" />
        <result column="isactive" property="isactive" />
        <result column="last_logintime" property="lastLogintime" />
        <result column="registration_time" property="registrationTime" />
        <result column="is_verified" property="isVerified" />
        <result column="email_address" property="emailAddress" />
        <result column="creation_time" property="creationTime" />
        <result column="openid" property="openid" />

        <association property="sysNurse" column="user_id" javaType="com.annaru.upms.entity.SysNurse" resultMap="SysNurseBaseResultMap" />

    </resultMap>

    <!-- 通用查询映射结果 医生 -->
    <resultMap id="SysDoctorBaseResultMap" type="com.annaru.upms.entity.SysDoctor" >
        <result column="sys_id" property="sysId" />
        <result column="doctor_no" property="doctorNo" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="doctorName" />
        <result column="head_image" property="headImage" />
        <result column="degrees" property="degrees" />
        <result column="star_count" property="starCount" />
        <result column="score" property="score" />
        <result column="focus_on" property="focusOn" />
        <result column="goodat" property="goodat" />
        <result column="content" property="content" />
        <result column="belong_office" property="belongOffice" />
        <result column="belong_province" property="belongProvince" />
        <result column="belong_city" property="belongCity" />
        <result column="belong_district" property="belongDistrict" />
        <result column="price_year" property="priceYear" />
        <result column="is_approved" property="isApproved" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />
        <result column="create_by" property="createBy" />
        <result column="edit_by" property="editBy" />

        <result column="siName" property="siName" />
        <result column="departmentName" property="departmentName" />

    </resultMap>

    <!-- 通用查询映射结果 护士 -->
    <resultMap id="SysNurseBaseResultMap" type="com.annaru.upms.entity.SysNurse" >
        <result column="sys_id" property="sysId" />
        <result column="nurse_no" property="nurseNo" />
        <result column="user_id" property="userId" />
        <result column="nurse_name" property="nurseName" />
        <result column="head_image" property="headImage" />
        <result column="belong_hospital" property="belongHospital" />
        <result column="belong_office" property="belongOffice" />
        <result column="score" property="score" />
        <result column="focus_on" property="focusOn" />
        <result column="contact_no1" property="contactNo1" />
        <result column="contact_no2" property="contactNo2" />
        <result column="job_title" property="jobTitle" />
        <result column="duties" property="duties" />
        <result column="introductions" property="introductions" />
        <result column="is_approved" property="isApproved" />
        <result column="approve_time" property="approveTime" />
        <result column="creation_time" property="creationTime" />
        <result column="edit_time" property="editTime" />

        <result column="siName" property="siName" />
        <result column="departmentName" property="departmentName" />

    </resultMap>

    <!-- 多表页面信息查询分页 -->
    <select id="selectDataPage" parameterType="map" resultMap="BaseResultMap">

        SELECT
              sys_id,
              user_id,
              cellphone_no,
              password,
              id_card_no,
              origin_province,
              origin_city,
              residence_province,
              residence_city,
              occupation,
              gender,
              date_of_birth,
              head_image,
              isactive,
              last_logintime,
              registration_time,
              is_verified,
              email_address,
              creation_time
        FROM
            user_basic
        <where>
            <if test="params.userId != null and params.userId != ''">
                AND user_id LIKE CONCAT('%', #{params.userId}, '%')
            </if>
        </where>
    </select>

    <!-- 通过手机验证码修改密码-->
    <update id="setPwd">
        UPDATE user_basic SET password=#{password}
         WHERE cellphone_no=#{cellphoneNo}
    </update>

    <!-- 通过旧的密码修改密码-->
    <update id="updatePwd" >
        UPDATE user_basic SET password=#{password}
         WHERE  user_id=#{userId}
    </update>

    <select id="selectByUid" parameterType="map" resultMap="BaseResultMap">
        select * from user_basic where user_id=#{userId}
    </select>

    <!-- 根据条件查询某个用户信息 -->
    <select id="selectByData" parameterType="map" resultMap="BaseResultMapVoZ">
        SELECT
            ub.sys_id,
            ub.user_id,
            full_name,
            chinese_spell,
            ub.cellphone_no,
            password,
            id_card_no,
            origin_province,
            origin_city,
            residence_province,
            residence_city,
            occupation,
            gender,
            date_of_birth,
            head_image,
            isactive,
            last_logintime,
            registration_time,
            is_verified,
            email_address,
            ub.creation_time,
            openid,
            is_hr,
            uc.card_no cardNo,
            se.entity_id,
            se.entity_name
        FROM
        user_basic ub
        LEFT JOIN user_cards uc ON uc.user_id = ub.user_id
        LEFT JOIN user_entity_mapping uem ON uem.user_id = ub.user_id
        LEFT JOIN sys_entity se ON se.entity_id = uem.entity_id
        WHERE
            1 = 1
            <if test="params.isHr == 1">
                AND is_hr = 1
            </if>
            <if test="params.isHr != 1">
                AND is_hr = 0
            </if>
            <if test="params.cellphoneNo != null and params.cellphoneNo != ''">
                AND ub.cellphone_no = #{params.cellphoneNo}
            </if>
            <if test="params.openid != null and params.openid != ''">
                AND openid = #{params.openid}
            </if>

    </select>

    <!-- 根据条件查询某个用户信息与医生信息 -->
    <select id="selectDoctorByData" parameterType="map" resultMap="BaseResultMap1">
        SELECT
            b.sys_id sys_id,
            b.user_id user_id,
            full_name,
            chinese_spell,
            b.cellphone_no cellphone_no,
            password,
            id_card_no,
            origin_province,
            origin_city,
            residence_province,
            residence_city,
            occupation,
            gender,
            date_of_birth,
            b.head_image,
            b.isactive,
            last_logintime,
            registration_time,
            is_verified,
            email_address,
            b.creation_time,
            doctor_no,
            b.full_name,
            degrees,
            star_count,
            score,
            focus_on,
            goodat,
        si.name siName,
        sd.department_name departmentName,

            price_year,
        job_title,
        duties,
        introductions,
        d.is_approved,
            d.edit_time,
            create_by,
            edit_by,
            openid
        FROM
            user_basic b
        LEFT JOIN sys_doctor d ON d.user_id = b.user_id
        LEFT JOIN sys_institution si ON si.institution_id = d.belong_institution
        LEFT JOIN sys_department sd ON sd.sys_id = d.belong_office
        WHERE
            1 = 1 AND b.is_hr = 0
            <if test="params.cellphoneNo != null and params.cellphoneNo != ''">
                AND b.cellphone_no = #{params.cellphoneNo}
            </if>
            <if test="params.openid != null and params.openid != ''">
                AND b.openid = #{params.openid}
            </if>
            <if test="params.doctorNo != null and params.doctorNo != ''">
                AND d.doctor_no = #{params.doctorNo}
            </if>
            <if test="params.userId != null and params.userId != ''">
                AND d.user_id = #{params.userId}
            </if>
    </select>

    <!-- 根据条件查询某个用户信息与护士信息 -->
    <select id="selectNurseByData" parameterType="map" resultMap="BaseResultMap2">
        SELECT
            b.sys_id sys_id,
            b.user_id user_id,
            full_name,
            chinese_spell,
            cellphone_no,
            password,
            id_card_no,
            origin_province,
            origin_city,
            residence_province,
            residence_city,
            occupation,
            gender,
            date_of_birth,
            b.head_image,
            b.isactive,
            last_logintime,
            registration_time,
            is_verified,
            n.is_approved,
            email_address,
            b.creation_time,

            nurse_no,
        nurse_name,

        si.name siName,
        sd.department_name departmentName,
            score,
            focus_on,
            contact_no1,
            contact_no2,
        job_title,
        duties,
        introductions,
            approve_time,
            n.edit_time,
            openid
        FROM
            user_basic b
        LEFT JOIN sys_nurse n ON  n.user_id = b.user_id
        LEFT JOIN sys_institution si ON si.institution_id = n.belong_hospital
        LEFT JOIN sys_department sd ON sd.sys_id = n.belong_office
        WHERE
            1 = 1 AND b.is_hr = 0
            <if test="params.cellphoneNo != null and params.cellphoneNo != ''">
                AND b.cellphone_no = #{params.cellphoneNo}
            </if>
            <if test="params.openid != null and params.openid != ''">
                AND b.openid = #{params.openid}
            </if>
    </select>
    <select id="selectEntityHealthy" resultType="int">
        select COUNT(*)
        from user_entity_mapping uem
        INNER JOIN user_basic ub on uem.user_id = ub.user_id
        INNER JOIN entity_purchse_main epm on uem.entity_id = epm.entity_no
        where
        uem.is_active = 1
        and epm.is_active = 1
        and epm.effect_from &lt;= NOW()
        and epm.effect_to &gt;= NOW()
        and ub.user_id = #{userId}
    </select>

    <!-- 通过用户编号修改个人信息和医保卡号-->
    <update id="updateCardAndBasics">
      UPDATE user_basic SET full_name=#{fullName},gender=#{gender},id_card_no=#{idCardNo},cellphone_no=#{cellphoneNo},head_image=#{headImage}
       WHERE user_id=#{userId}
    </update>

    <update id="updateLastTimeBySysId" parameterType="com.annaru.upms.entity.UserBasic">
      UPDATE user_basic SET last_logintime = #{userBasic.lastLogintime}
       WHERE sys_id = #{userBasic.sysId}
    </update>

    <update id="updateBySysId" parameterType="map" >
        UPDATE user_basic SET openid = #{params.openid}
        WHERE sys_id = #{params.sysId}
    </update>

</mapper>
